@charset "utf-8";
/* reset */
html{-webkit-text-size-adjust:none;-webkit-font-smoothing:antialiased;background:#ffffff;color:#666;word-wrap:break-word;word-break:break-all;overflow-x:hidden;}
html,body,p,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,texarea,button,th,td{margin:0;padding:0;}
body{font:12px/1.5 "\5FAE\8F6F\96C5\9ED1","宋体",Arial,Helvetica,sans-serif;}
body.nbody{background:#ffffff !important;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
img,button,textarea,input{border:0 none;outline:none;}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit;}
ul,ol{list-style:none;}
a{text-decoration:none;color:#333333;outline:none;}
a:hover{text-decoration:underline;}
b,strong{font-weight:normal;}
i,em{font-style:normal;}

/* User-defined */
.clearfix{zoom:1;}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0;line-height:0;}
.fl,.fr{_display:inline;}
.fl{float:left;}
.fr{float:right;}

/*字体*/
.fms{ font-family:"\5B8B\4F53";}
.fmvr{ font-family:"\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";}

/*字体颜色*/
.grayc{ color:#cccccc; text-decoration:none;}
.grayc:hover{ color:#cccccc; text-decoration:underline;}

/*外边距*/
.mr10{ margin-right:10px;}

/*表单元素*/
.input_text_small{ height:30px; *height:auto; border-radius:1px; background:#f7fbfc; padding:5px 10px; *padding:6px 10px; font-size:14px; color:#999999;}
.input_text_big{ border-radius:3px; background:#f7fbfc; border:1px solid #dbdbdb; padding:11px 12px; font-size:14px; color:#999999;}
.input_text_normal{ border-radius:3px; background:#f7fbfc; border:1px solid #dbdbdb; padding:9px 12px; font-size:14px; color:#999999;}
.input_button{ border-radius:1px; background:#ee9d11; padding:0px; height:30px; font-size:16px; font-weight:bold; line-height:28px; color:#ffffff; text-align:center;}
.label_big{ display:inline-block; height:45px; line-height:45px; padding:0 4px; *padding:0; margin:0; text-align:center; font-size:14px; color:#666666;}
.input_btn_big{ width:220px; height:55px; background:#ee9d11; border-radius:3px; font-size:24px; color:#ffffff; line-height:53px; text-align:center;}
.radio,.checkbox{ vertical-align:middle;}

/*宽度控制*/
.w246{ width:246px;}
.w175{ width:175px;}
.w142{ width:142px; *width:116px;}

/*隐藏*/
.hide{ display:none;}

/* 页面布局框架开始 */
.nbanner{ background:#eb5255; box-shadow:0px 0px 7px 0 #cccccc inset;}
.nbanner_con{ width:1200px; height:420px; margin:0 auto;}
.nbanner_fl{ float:left; display:inline; width:280px; height:420px; background:#ffffff; box-shadow:0px 0px 7px 0 #cccccc inset;}
.nbanner_fr{ float:right; display:inline; width:258px; height:420px; background:#f4f4f4; box-shadow:0px 0px 7px 0 #cccccc inset;}
.nbanner_fc{ float:left; display:inline; width:660px; height:420px;}

/* 百宝箱 */
.ntreasure{ padding-top:7px;}
.ntreasure_top{ height:40px; padding-left:20px; background:url(../images/line.png) left bottom repeat-x; font-size:18px; color:#0a0a0a; line-height:40px;}
.ntreasure_mid{ text-align:center;}
.ntreasure_mid a{ display:inline-block; margin:15px 0 0; padding:10px 0; width:85px; background:#ffffff;}
.ntreasure_mid a font.h_1{ display:block; height:22px; line-height:22px; font-size:12px; color:#666666; text-decoration:none;}
.ntreasure_mid a span{ display:inline-block; background:url(../images/icons_all.png) center 0 no-repeat; width:61px; height:61px; text-decoration:none;}
.ntreasure_mid a span.icons_1{ background-position: center 0;}
.ntreasure_mid a span.icons_2{ background-position: center -80px;}
.ntreasure_mid a span.icons_3{ background-position: center -160px;}
.ntreasure_mid a span.icons_4{ background-position: center -240px;}
.ntreasure_mid a span.icons_5{ background-position: center -320px;}
.ntreasure_mid a span.icons_6{ background-position: center -400px;}
.ntreasure_mid a span.icons_7{ background-position: center -480px;}
.ntreasure_mid a span.icons_8{ background-position: center -560px;}
.ntreasure_mid a span.icons_9{ background-position: center -640px;}
.ntreasure_mid a:hover{ box-shadow:0 0 5px 0 #cccccc; text-decoration:none;}
.ntreasure_mid a:hover font{ text-decoration:none; color:#666666;}
.ntreasure_mid a:hover font.h_1{ color:#666666; text-decoration:none;}

/* 首页幻灯片 */
.slide_wrap{ position:relative; width:662px; height:420px; overflow:hidden;}
.slide_con { display:block; width:662px; height:420px; overflow:hidden;}
.slide_con li, .slide_con a, .slide_con img { display: block; width:662px; height: 420px; }
.slide_con li{ position:absolute; left:0; top:0; }
.slide_title{ display:none;}
.slide_title li{ display:none;}
.slide_title li h3 { display:none;}
.slide_title li h3 a { display:none;}

.slide_switch { display:none; width: 59px; height: 29px; position: absolute; z-index: 2; right: 15px; bottom: 92px; }
.slide_switch a { float: left; width: 29px; height: 29px; cursor: pointer; }
.slide_switch .icon_prev { background-position: 0 0; margin: 0 1px 0 0; }
.slide_switch .icon_prev:hover { background-position: -30px 0; }
.slide_switch .icon_next { background-position: -60px 0; }
.slide_switch .icon_next:hover { background-position: -90px 0; }
.slide_list_bg{ position:absolute; left:0; bottom:0; width:662px; height:66px; background:#ffffff; filter:alpha(opacity=60); opacity:0.6;} 
.slide_list { position:absolute; left:0; bottom:0; width:662px; height:66px;}
.slide_list li { float:left; display:inline; width:100px; height:60px; margin-left:9px;}
.slide_list li a { position:relative; display:block; width:100px; height:60px; }
.slide_list li img { position:absolute; left:0; top:5px; width:100px; height:55px;}
.slide_list li .mask{ position:absolute; left:0; top:0; background:url(../images/slider_bg_2.png) left bottom no-repeat; width:100px; height:60px;}
.slide_list li.current .mask { background:url(../images/slider_bg_1.png) left bottom no-repeat;}


.nreg{ position:relative; width:258px; height:420px;}
.nreg_top{ height:45px;}
.nreg_top a{ display:inline-block; width:129px; height:45px; background:#d6d6d6; box-shadow:0px 0px 5px 0 #cccccc inset; line-height:40px; text-align:center; color:#666666; font-size:16px; font-weight:bold;}
.nreg_top a.cur,.nreg_top a:hover{ background:#f4f4f4; color:#666666; text-decoration:none;}
.nreg_mid{ position:absolute; left:0; background:#f4f4f4; top:40px; width:258px; height:380px;}
.nreg_mid_con{ width:220px; margin:0 auto; padding-top:20px;}
.nreg_mid_con dl{ width:220px; height:70px;}
.nreg_mid_con dt{ float:left; display:inline; width:144px;}
.nreg_mid_con dd{ float:right; display:inline; width:74px;}
.nreg_mid_con li{ width:220px; height:70px;}
.nreg_mid_con li .input_text_big{ width:218px; *width:192px;}
.nreg_mid_con li.mt10{ margin-top:10px;}
.nreg_mid_con li.h30{ height:30px; margin-bottom:10px;}
.nreg_mid_con li.h30 a{ color:#999999; text-decoration:underline;}
.nreg_mid_con li.h30 a:hover{ color:#999999; text-decoration:none;}
.nreg_mid_con li.h30 label{ color:#999999; font-weight:normal;}
.nreg_mid_con li.h60{ height:60px; margin-top:10px;}
.nreg_mid_con li.h60 img{ width:220px; height:60px; border:0; background:#cccccc;}
.nreg_mid_con span{ display:block; border:1px solid #f4f4f4; border-radius:3px;}
.nreg_mid_con em{ display:none; height:16px; background:#ff3b3b; color:ffffff; font-weight:normal; line-height:16px; font-size:12px;}
.nreg_mid_con span.error{ border:1px solid #ff3b3b; color:#ffffff;}
.nreg_mid_con span.error em{ display:block; text-align:center;}


.nlogin{ position:relative; width:258px; height:420px; padding-top:30px;}
.nlogin_top{ width:224px; margin:0 auto;}
.nlogin dl{ padding-bottom:8px;}
.nlogin dl dt{ float:left; display:inline; width:90px; height:90px;}
.nlogin dl dt img{ width:90px; height:90px; background:#428bca;}
.nlogin dl dd{ float:right; display:inline; width:124px; padding:18px 0;}
.nlogin dl dd .span{ width:124px; height:36px; line-height:18px; color:#666666; font-size:14px;}
.nlogin dl dd .span a{ color:#0099ff; text-decoration:none;}
.nlogin dl dd .span a:hover{ color:#0099ff; text-decoration:none;}
.nlogin dl dd .logout{ height:18px; font-size:14px; line-height:18px;}
.nlogin dl dd .logout a{ color:#999999; text-decoration:none;}
.nlogin dl dd .logout a:hover{ color:#999999; text-decoration:underline;}
.nlogin ol{ height:40px; line-height:40px;}
.nlogin ol.h_1{ font-size:14px; color:#999999;}
.nlogin ol.h_1 span{ font-size:30px; font-family:Calibri; color:#333333;}
.nlogin ol.h_1 span.fs24{ font-size:24px;}
.nlogin ol.h_1 font{ font-size:18px;}
.nlogin .tc{ padding:20px 0; text-align:center;}
.nlogin .tc .input_btn_big{ display:inline-block;}
.nlogin .tc .input_btn_big:hover{ color:#ffffff; text-decoration:none;}
.nlogin_bot{ border-top:1px solid #e1e1e1; padding:0 19px; text-align:center;}
.nlogin_bot a{ display:inline-block; width:73px; background:url(../images/login_bg.png) center 30px no-repeat; padding:65px 0 30px; line-height:21px; color:#999999; text-decoration:none; text-align:center; font-size:1２px;}
.nlogin_bot a.a_1{ background-position:center 26px;}
.nlogin_bot a.a_2{ background-position:center -120px;}
.nlogin_bot a.a_3{ background-position:center -270px;}
.nlogin_bot a:hover{ background-color:#e2e2e2;}

.ncontent{ width:1200px; margin:0 auto;}
.ncontent_fl{ float:left; display:inline; width:920px;}
.ncontent_fr{ float:right; display:inline; width:258px;}
/* 页面布局框架结束 */

/* 网站首页 */
/* 4个理由 */
.nreasons{ width:920px; margin-top:30px;}
.nreasons_top{ height:46px; line-height:46px; border-bottom:1px solid #e5e5e5; color:#333333; font-size:30px;}
.nreasons_mid{ padding-top:50px;}
.nreasons_mid dl{ float:left; display:inline; width:192px; margin-right:50px;}
.nreasons_mid dl.mr0{ margin-right:0;}
.nreasons_mid dt{ position:relative; width:192px; height:68px; border-bottom:1px solid #d1d1d1;}
.nreasons_mid dt .number{ position:absolute; left:0; bottom:0; background:url(../images/index_bg.png) no-repeat; width:192px; height:69px;}
.nreasons_mid dt .number_1{ background-position:0 1px;}
.nreasons_mid dt .number_2{ background-position:0 -80px;}
.nreasons_mid dt .number_3{ background-position:0 -160px;}
.nreasons_mid dt .number_4{ background-position:0 -240px;}
.nreasons_mid dd{ padding:4px; line-height:24px; color:#838383;}
.nreasons_bot{ padding-top:30px; text-align:center;}
.nreasons_bot a{ display:inline-block; padding:0 16px; height:44px; border-radius:3px; line-height:44px; color:#ffffff; font-size:20px; font-weight:bold; background:#ee9d11;}
.nreasons_bot a:hover{ color:#ffffff; text-decoration:none;}

/* 4个步骤 */
.steps{ width:920px; margin-top:70px;}
.steps_top{ height:46px; line-height:46px; border-bottom:1px solid #e5e5e5; color:#333333; font-size:30px;}
.steps_mid{ height:76px; *height:71px; margin-top:50px; border-bottom:5px solid #dbdbdb;}
.steps_mid li{ position:relative; float:left; height:71px; width:230px;}
.steps_mid .step{ position:absolute; background:url(../images/index_bg.png) no-repeat; width:77px; height:84px; font-size:52px; color:#ffffff; line-height:56px; padding-left:35px;}
.steps_mid .step_1{ background-position:10px -400px;}
/* I changed this to make it hoverable*/
.steps_mid .step_1:hover{ background-position:10px -500px;}
/* I changed this to make it hoverable end */
.steps_mid .text{ float:right; display:inline; width:160px; *width:140px; height:50px; padding-left:20px; background:url(../images/index_bg.png) right -600px no-repeat; font-size:18px; color:#666666; line-height:50px;}
.steps_mid .text_1{ line-height:25px;}
.steps_mid .text_2{ background:none;}
.steps_bot{ margin:8px 0 0 44px;}
.steps_bot li{ float:left; display:inline; margin-left:4px; width:226px; height:92px; border-left:1px solid #e9e9e9; color:#838383; line-height:24px;}
.steps_bot li p{ padding:0 10px;}
.steps_bot li.last{ width:182px;}
.steps_bot_1{ padding-top:30px; text-align:center;}
.steps_bot_1 a{ display:inline-block; padding:0 16px; height:44px; border-radius:3px; line-height:44px; color:#ffffff; font-size:20px; font-weight:bold; background:#ee9d11;}
.steps_bot_1 a:hover{ color:#ffffff; text-decoration:none;}

/* 名师在线 */
.onlines{ width:258px; margin-top:30px;}
.onlines_top{ width:258px; height:46px; line-height:46px; font-size:22px; color:#333333;}
.onlines_top span{ float:right; display:inline; padding-top:26px;}
.onlines_mid{ width:258px; background:#f0f0f0;}
.onlines_mid dl{ width:234px; padding:9px 0; margin:0 auto; border-bottom:1px solid #f0f0f0; overflow:hidden; zoom:1;}
.onlines_mid dt{ float:left; display:inline; width:54px; height:54px;}
.onlines_mid dt img{ border:2px solid #f0f0f0;}
.onlines_mid dd{ float:right; display:inline; width:170px; padding:9px 0; line-height:16px; color:#999999;}
/*.onlines_mid dd p{ width:170px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}*/
/*.onlines_mid dd p:hover{ overflow:auto; white-space:normal; text-overflow:clip;}*/
.onlines_mid dd a{ display:inline-block; width:90px; height:16px; overflow:hidden; color:#3ea0e4; text-decoration:none;}
.onlines_mid dd a:hover{ color:#3ea0e4; text-decoration:underline;}
.onlines_mid dd span{ float:right; display:none; width:80px; height:16px; text-align:right; line-height:16px; color:#cc9900;}
.onlines_mid dl.cur{ border-bottom:1px solid #e2e2e2;}
.onlines_mid dl.cur dt img{ border:2px solid #50a4de;}
.onlines_mid dl.cur span{ display:inline;}

/* 购课记录 */
.orders{ width:258px; margin-top:25px;}
.orders_top{ width:258px; height:46px; font-size:22px; color:#333333;}
.orders_top .title{ float:left; display:inline; height:46px; line-height:46px;}
.orders_top span{ float:right; display:inline; padding-top:20px; color:#999999; font-size:12px;}
.orders_top span i{ font-family:Candara;}
.orders_mid{ width:258px; padding:0 0 11px; background:#f0f0f0;}
.orders_mid li{ padding:12px 18px; line-height:18px; margin:0 auto; border-bottom:1px dotted #c0c0c0; color:#999999; overflow:hidden; zoom:1;}
.orders_mid li a{ color:#3ea0e4; text-decoration:none;}
.orders_mid li a:hover{ color:#3ea0e4; text-decoration:underline;}
.orders_mid li span{ color:#ff0000;}
.orders_mid li p{ text-align:right; font-size:11px;}

/* 学员 */
.students{ width:1200px; margin:24px auto 0;}
.students_top{ border-bottom:1px solid #e5e5e5; height:50px; line-height:50px; font-size:30px; color:#333333;}
.students_mid{ padding:20px 0;}
.students_mid li{ float:left; display:inline; width:200px; background:#ebebeb; margin-right:50px;}
.students_mid li .border{ border:1px solid #ebebeb; text-align:center; padding:30px 0 20px;}
.students_mid li img{ width:140px; height:140px; border:0; margin:0;}
.students_mid li a{ display:inline-block; width:140px; padding:15px 0 5px; color:#3ea0e4; font-size:14px; font-weight:bold; text-align:left; text-decoration:none;}
.students_mid li a:hover{ color:#3ea0e4; text-decoration:underline;}
.students_mid li p{ width:140px; margin:0 auto; line-height:22px; text-align:left; color:#999999;}
.students_mid li.cur{ background:#ffffff; box-shadow:0 0 3px 3px #dddddd;}
.students_mid li.cur .border{ border:1px solid #b8b8b8;}
.students_mid li.last{ margin-right:0;}

/*教学理念页面*/
.nbanner_2{ background:#957064 url(../images/banner_2.jpg) center top no-repeat; box-shadow:0px 0px 7px 0 #cccccc inset;}
.nbanner_con_2{ position:relative; width:1200px; height:567px; margin:0 auto;}
.nbanner_fr_2{ float:right; display:inline; margin-top:74px; width:258px; height:420px;}
.nreg_2{ width:258px;}
.nreg_top_2{ width:258px; height:80px; background:url(../images/linian_bg.jpg) no-repeat;}
.nreg_mid_2{ position:relative; width:258px;}
.nreg_mid_bg_2{ position:absolute; width:258px; top:0; bottom:0; background:#f4f4f4; filter:alpha(opacity=90); opacity:0.9;}
.nreg_mid_con_2{ position:relative; width:220px; margin:0 auto; padding-top:20px;}
.nreg_mid_con_2 .input_text_normal{ border:1px solid #a6d9fc; box-shadow:0px 0px 3px 0 #cccccc;}
.nreg_mid_con_2 dl{ width:220px; height:45px;}
.nreg_mid_con_2 dt{ float:left; display:inline; width:48px; font-size:14px; line-height:45px; color:#666666;}
.nreg_mid_con_2 dd{ float:right; display:inline; width:170px;}
.nreg_mid_con_2 dd .input_text_normal{ width:168px; *width:142px;}
.nreg_mid_con_2 li{ width:220px; height:53px;}
.nreg_mid_con_2 li .input_text_normal{ width:218px; *width:192px;}
.nreg_mid_con_2 span{ display:block; border:1px solid #f4f4f4; border-radius:3px;}
.nreg_mid_con_2 em{ display:none; height:16px; background:#ff3b3b; color:ffffff; font-weight:normal; line-height:16px; font-size:12px;}
.nreg_mid_con_2 span.error{ border:1px solid #ff3b3b; color:#ffffff;}
.nreg_mid_con_2 span.error em{ display:block; text-align:center;}

/*新模式*/
.nmodel{ width:1200px;}
.nmodel_top{ height:150px; font-size:30px; color:#333333; text-align:center; line-height:150px;}
.nmodel_mid{ width:1200px;}
.nmodel_mid ul{ margin-left:-40px;}
.nmodel_mid li{ float:left; display:inline; width:270px; padding-top:24px; background:#f2f0f0; margin-left:40px;}
.nmodel_mid li.li_1{ border-top:6px solid #ffc424;}
.nmodel_mid li.li_2{ border-top:6px solid #b1e621;}
.nmodel_mid li.li_3{ border-top:6px solid #65e2cf;}
.nmodel_mid li.li_4{ border-top:6px solid #55c4e0;}
.nmodel_mid li .h{ padding:10px 0; text-align:center;} 
.nmodel_mid li .h1{ font-size:30px; color:#666666; font-weight:bold;}
.nmodel_mid li .h2{ font-size:24px; color:#666666;}
.nmodel_mid .li_top{ text-align:center;}
.nmodel_mid .li_top span{ display:inline-block; width:127px; height:127px; background:url(../images/linian_bg.jpg) no-repeat;}
.nmodel_mid .li_top span.li_top_1{ background-position:0 -150px;}
.nmodel_mid .li_top span.li_top_2{ background-position:0 -300px;}
.nmodel_mid .li_top span.li_top_3{ background-position:0 -450px;}
.nmodel_mid .li_top span.li_top_4{ background-position:0 -600px;}
.nmodel_mid .li_mid{ height:200px; width:224px; margin:0 auto;}
.nmodel_mid .li_mid p{ background:url(../images/linian_bg.jpg) 0 -750px no-repeat; padding:8px 0 0 25px; line-height:18px; color:#838383; font-size:14px;}

/* 方法 */
.nmethod{ width:1200px; margin:0 auto; padding-top:80px;}
.nmethod_top{ background:url(../images/linian_bg.jpg) left -900px no-repeat;}
.nmethod_top_c{ background:url(../images/linian_bg.jpg) right -1050px no-repeat; text-align:center;}
.nmethod_top_c .h{ display:inline-block; width:570px; height:100px; background:url(../images/linian_bg.jpg) left -900px no-repeat; text-align:center;}
.nmethod_top_c .h_1{ display:inline-block; width:570px; background:url(../images/linian_bg.jpg) right -1050px no-repeat; font-size:30px; padding:10px 0; line-height:40px;}
.nmethod_top_c b{ font-weight:bold;}
.nmethod_mid{ width:1200px; padding:60px 0 70px;}
.nmethod_mid li{ float:left; display:inline; width:285px; margin-right:20px;}
.nmethod_mid li .border{ border-right:1px solid #d3d3d3;}
.nmethod_mid li .li_top{ background:url(../images/linian_bg.jpg) 5px -1300px no-repeat; padding-left:85px; height:70px; font-size:22px; color:#666666; line-height:70px;}
.nmethod_mid li .li_top_1{ background-position:5px -1200px;}
.nmethod_mid li .li_top_2{ background-position:5px -1350px;}
.nmethod_mid li .li_top_3{ background-position:5px -1500px;}
.nmethod_mid li .li_top_4{ background-position:5px -1650px;}
.nmethod_mid li .li_mid{ padding-top:20px; color:#8e8e8e;}
.nmethod_mid li .li_mid span{ float:left; display:inline; height:24px; line-height:24px; width:16px; font-size:16px;}
.nmethod_mid li .li_mid p{ float:left; display:inline; width:240px; line-height:24px;}
.nmethod_mid li.last{ margin-right:0px;}
.nmethod_mid li.last .border{ border:none;}

/* 管理方式 */
.nmanage{ background:#ededed;}
.nmanage_con{ width:1200px; padding-top:30px; margin:0 auto;}
.nmanage .h1{ height:90px; line-height:90px; color:#333333; font-size:30px; text-align:center;}
.nmanage .h2{ height:76px; line-height:76px; color:#898989; font-size:26px; text-align:center;}
.nmanage .h3{ height:50px; line-height:50px; color:#898989; font-size:26px; text-align:center;}
.nmanage_mid{ width:1200px; margin:0 auto; padding: 40px 0 75px;}
.nmanage_mid li{ float:left; display:inline; width:284px; margin-right:16px;}
.nmanage_mid li .border{ position:relative; border:4px solid #3ebde6;}
.nmanage_mid li .icon_right{ position:absolute; right:0; top:-20px; background:url(../images/linian_bg.png) no-repeat; width:51px; height:47px;}
.nmanage_mid li .li_con{ background:url(../images/linian_bg.jpg) no-repeat; padding:20px 20px 20px 85px; line-height:30px; font-size:24px; color:#666666;}
.nmanage_mid li .li_con_1{ background-position:20px -1925px;}
.nmanage_mid li .li_con_2{ background-position:20px -2075px;}
.nmanage_mid li .li_con_3{ background-position:20px -2225px;}
.nmanage_mid li .li_con_4{ background-position:20px -2375px;}
.nmanage_mid li.last{ margin-right:0;}

/* 教学理念页面 */
.nbanner_3{ background:#ede1c2 url(../images/banner_3.jpg) center top no-repeat; box-shadow:0px 0px 7px 0 #cccccc inset;}

/* 提分秘诀 */
.students_2{ background:#e4e4e4;}
.students_2_con{ width:1200px; margin:0 auto; padding:30px 0 60px;}
.students_top_2{ width:1200px; margin:0 auto;}
.students_top_2 .h_1{ height:46px; font-size:18px; color:#666666; line-height:46px; text-align:center;}
.students_top_2 .h_2{ height:68px; font-size:30px; color:#333333; line-height:68px; text-align:center;}
.students_top_2 .h_2 span{ color:#469fdd;}
.students_top_2 .h_3{ height:40px; font-size:30px; color:#666666; line-height:40px; text-align:center;}

/* 面对面 */
.nfaces{ width:1200px; margin:0 auto; padding:40px 0 70px; border-bottom:1px solid #e5e5e5;}
.nfaces_top{}
.nfaces_top .h_1{ height:54px; line-height:54px; font-size:30px; color:#333333; text-align:center;}
.nfaces_top .h_2{ height:30px; line-height:30px; font-size:16px; color:#666666; text-align:center;}
.nfaces_mid{ width:1200px; padding-top:60px;}
.nfaces_mid li{ float:left; display:inline; width:300px; text-align:center;}
.nfaces_mid li span{ display:inline-block; background:url(../images/free_bg.jpg) no-repeat; width:124px; height:124px;}
.nfaces_mid li span.icon_1{ background-position:0 0;}
.nfaces_mid li span.icon_2{ background-position:0 -150px;}
.nfaces_mid li span.icon_3{ background-position:0 -300px;}
.nfaces_mid li span.icon_4{ background-position:0 -450px;}
.nfaces_mid li .h_1{ width:240px; height:50px; margin:0 auto; line-height:50px; font-size:22px; color:#333333;}
.nfaces_mid li p{ width:240px; margin:0 auto; text-align:left; line-height:24px; color:#8e8e8e; font-size:14px;}

/* 优势体验 */
.nsuper{ width:1200px; margin:0 auto; padding:40px 0 70px; border-bottom:1px solid #e5e5e5;}
.nsuper_top{}
.nsuper_top .h_1{ height:94px; line-height:94px; font-size:48px; font-weight:bold; color:#333333; text-align:center;}
.nsuper_top .h_2{ height:56px; line-height:56px; font-size:30px; color:#333333; text-align:center;}
.nsuper_top .h_3{ height:30px; line-height:30px; font-size:20px; color:#666666; text-align:center;}
.nsuper_top_1{ text-align:center; margin-top:30px;}
.nsuper_top_1 a{ display:inline-block; width:254px; height:44px; border-radius:3px; line-height:44px; color:#ffffff; font-size:20px; font-weight:bold; background:#ee9d11;}
.nsuper_top_1 a:hover{ color:#ffffff; text-decoration:none;}
.nsuper_mid{ width:890px; margin:0 auto; padding-top:60px;}
.nsuper_mid dl{ border-bottom:1px solid #dedede; height:54px;}
.nsuper_mid dt,.nsuper_mid dd{ float:left; display:inline; width:177px; border-right:1px solid #dedede; line-height:53px; color:#666666; text-align:center;}
.nsuper_mid dt{ background:#fff8ed;}
.nsuper_mid dd.last{ border-right:none;}
.nsuper_mid dl.first{ background:#d6d6d6; font-size:16px; color:#333333;}
.nsuper_mid dl.first dt{ position:relative;}
.nsuper_mid dl.first dt .span{ position:absolute; left:0; top:-34px; width:177px; height:89px; background:url(../images/free_bg.jpg) 0 -600px no-repeat;}
.nsuper_mid dl.even{ background:#f1f1f1;}
.nsuper_mid dl dt.lh18,.nsuper_mid dl dd.lh18{ line-height:18px;}
.nsuper_mid dl dd.ptb9{ padding:9px 0;}

/* 班型介绍 */
.nbanner_4{ background:#cacaca url(../images/banner_4.jpg) center top no-repeat; box-shadow:0px 0px 7px 0 #cccccc inset;}
.nbanner_4 .nbanner_con_2{ height:564px;}

/* 班型介绍主体 */
.nintro{ width:920px; margin-top:17px;}
.nintro_top{ position:relative; border-bottom:1px solid #469fdd; height:59px;}
.nintro_top_fl{ position:relative; float:left; display:inline; width:700px; height:59px;}
.nintro_top_fl a{ position:relative; float:left; display:inline; padding:2px 2px 1px; border-bottom:1px solid #469fdd; background:#ffffff; text-align:center;}
.nintro_top_fl a span{ display:inline-block; width:224px; height:55px; background:#ededed; color:#333333; font-size:16px; line-height:55px; text-decoration:none;}
.nintro_top_fl a.cur,.nintro_top_fl a:hover{ border:1px solid #469fdd; border-bottom:1px solid #ffffff; padding:1px; color:#333333; text-decoration:none;}
.nintro_top_fl a.cur span,.nintro_top_fl a:hover span{ background-color:#ffffff; color:#333333; text-decoration:none;}
.nintro_top_fl a.cur span,.nintro_top_fl a.cur:hover span{ color:#469fdd; text-decoration:none;}
.nintro_mid{ width:920px;}
.nintro_mid_top{ margin-top:30px; height:53px; line-height:52px; font-size:26px; border-bottom:1px solid #e5e5e5; color:#333333;}
.nintro_mid_mid_1{ text-align:center;}
.nintro_mid_mid_1 li{ display:inline-block; margin-top:40px; vertical-align:top; width:182px; height:230px; text-align:center; margin-right:60px; vertical-align:top;}
.nintro_mid_mid_1 li span{ display:inline-block; width:120px; height:120px; background:url(../images/intro_bg.jpg) no-repeat;}
.nintro_mid_mid_1 li span.span_1{ background-position:0 0;}
.nintro_mid_mid_1 li span.span_2{ background-position:0 -150px;}
.nintro_mid_mid_1 li span.span_3{ background-position:0 -300px;}
.nintro_mid_mid_1 li span.span_4{ background-position:0 -450px;}
.nintro_mid_mid_1 li span.span_5{ background-position:0 -600px;}
.nintro_mid_mid_1 li .h_1{ height:24px; line-height:24px; color:#333333; font-size:16px; text-align:center;}
.nintro_mid_mid_1 li p{ color:#999999; line-height:18px; text-align:left;}
.nintro_mid_mid_1 li.last{ margin-right:0;}
.nintro_fit{ padding:40px 0 40px 100px;}
.nintro_fit dl{ margin-bottom:10px;}
.nintro_fit dt{ float:left; display:inline; width:23px; height:23px; line-height:23px; font-size:16px; color:#ffffff; text-align:center;}
.nintro_fit dt.dt_1{ background:#ffba00;}
.nintro_fit dt.dt_2{ background:#a8e433;}
.nintro_fit dt.dt_3{ background:#3fd482;}
.nintro_fit dt.dt_4{ background:#34bece;}
.nintro_fit dt.dt_5{ background:#28aee0;}
.nintro_fit dd{ float:left; display:inline; margin-left:15px; height:23px; line-height:23px; color:#666666;}
.nintro_mid .steps{ margin-top:50px;}

/* 用户感言 */
.nspeech{ width:258px; margin-top:25px;}
.nspeech_top{ height:46px; line-height:46px; color:#333333; font-size:22px;}
.nspeech_mid{ padding:15px; background:#f0f0f0; line-height:24px; color:#999999;}

/* bbs首页 */
.bbs_banner{ background:#efefef; border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5;}
.bbs_banner_con{ width:1200px; margin: 0 auto; background:url(../images/banner_bbs.jpg) no-repeat;}
.bbs_banner_fl{}
.bbs_banner_fr{ float:right; display:inline; height:315px; width:370px;}
.nhot{ width:370px; margin-top:11px;}
.nhot_top{ height:44px; background:url(../images/line.png) left bottom repeat-x;}
.nhot_top span{ display:inline-block; height:44px; line-height:38px; border-bottom:4px solid #ff9000; font-size:24px;}
.nhot_mid{ width:370px; padding:10px 0;}
.nhot_mid li{ display:block; height:33px; line-height:33px; color:#737373; font-size:14px;}
.nhot_mid li a{ color:#737373; text-decoration:none;}
.nhot_mid li a.span{ color:#ff7800; font-weight:bold; text-decoration:none;}
.nhot_mid li a:hover{color:#737373; text-decoration:underline; }
.nhot_mid li a:hover .span{ color:#ff7800; text-decoration:underline;}

/* 统计结果 */
.nresult{ height:40px; background:url(../images/line.png) left bottom repeat-x;}
.nresult_con{ width:1200px; margin:0 auto;}
.nresult_con .h_1{ background:url(../images/bbs_bg.png) 10px 13px no-repeat; padding-left:40px; line-height:40px; color:#999999;}
.nresult_con font{ color:#666666;}
.nresult_con font.red{ color:#ff0000;}
.nresult_con span{ padding:0 20px;}

/* 板块开始 */
.nblock{ width:1200px; margin:20px auto 0;}
.nblock_top{ height:44px; background:url(../images/line.png) left bottom repeat-x;}
.nblock_top span{ display:inline-block; height:44px; line-height:38px; border-bottom:4px solid #ff9000; font-size:24px;}
.nblock_mid{ width:1200px; padding:30px 0 0;}
.nblock_mid ul{ margin-left:-43px;}
.nblock_mid ul li{ float:left; display:inline; width:371px; padding:25px 0 15px; margin:0 0 30px 43px;}
.nblock_mid ul dl{ width:300px; margin:0 auto;}
.nblock_mid ul dt{ float:left; display:inline; width:96px; height:96px; border-radius:5px; box-shadow:0 0 3px 0 #cccccc;}
.nblock_mid ul dt span{ display:inline-block; background:url(../images/bbs_bg.png) 0 -40px no-repeat; width:90px; height:90px; margin:3px;}
.nblock_mid ul dt span.span_1{ background-position:0 -40px;}
.nblock_mid ul dt span.span_2{ background-position:0 -190px;}
.nblock_mid ul dt span.span_3{ background-position:0 -340px;}
.nblock_mid ul dt span.span_4{ background-position:0 -490px;}
.nblock_mid ul dt span.span_5{ background-position:0 -640px;}
.nblock_mid ul dt span.span_6{ background-position:0 -790px;}
.nblock_mid ul dt span.span_7{ background-position:0 -940px;}
.nblock_mid ul dd{ float:right; display:inline; width:197px;}
.nblock_mid ul dd .h_1{ height:38px; line-height:38px; font-size:24px;}
.nblock_mid ul dd .h_1 a{ color:#333333; text-decoration:none;}
.nblock_mid ul dd .h_1 a:hover{ color:#333333; text-decoration:underline;}
.nblock_mid ul dd .h_2{ height:21px; line-height:21px; color:#999999;}
.nblock_mid ul dd .h_3{ height:30px; font-size:14px; line-height:30px; color:#999999;}
.nblock_mid ul dd .h_3 span{ font-family:Candara; color:#666666;}
.nblock_mid ul ol{ width:300px; margin:0 auto; height:30px; line-height:30px; font-size:12px; color:#999999;}
.nblock_mid ul ol span{ font-family:Candara;}
.nblock_mid ul li.cur{ box-shadow:0 0 5px 0 #cccccc;}
.nblock_mid ul li.cur dd .h_1 a{ color:#219be1; text-decoration:none;}
.nblock_mid ul li.cur dd .h_1 a:hover{ color:#219be1; text-decoration:underline;}

/* 搜索框 */
.bbs_search{ float:right; display:inline; background:url(../images/bbs_search_bg.png) no-repeat; width:300px; height:40px;}
.bbs_search .input_text{ float:left; display:inline; padding:9px 12px; padding:10px 12px 15px\9; background:none; font-size:14px; color:#666666; border:none; margin:0; width:260px; *width:236px; *padding:12px 12px;}
.bbs_search .input_btn{ float:left; display:inline; width:40px; height:40px; background:none;}

/* 教师学院 */
.tchschool{ width:910px; margin-top:40px;}
.tchschool_top{ height:47px; border-bottom:1px solid #dfdfdf; background:url(../images/xuyuan_bg.png) 0 10px no-repeat; padding-left:60px; line-height:47px; font-size:26px; color:#333333;}
.tchschool_mid{ font-size:14px; line-height:24px; color:#666666; padding:30px 0;}
.tchschool_mid p{ text-indent:2em;}

/* 愿景 */
.nbecame{ width:910px;}
.nbecame_top{ height:47px; border-bottom:1px solid #dfdfdf; line-height:47px; font-size:26px; color:#333333;}
.nbecame_mid{ width:910px;}
.nbecame_mid ul{ margin-left:-25px; padding-bottom:20px;}
.nbecame_mid li{ float:left; display:inline; width:208px; margin:30px 0 0 25px; text-align:center;}
.nbecame_mid li span{ display:inline-block; width:92px; height:92px; background:url(../images/xuyuan_bg.png) no-repeat;}
.nbecame_mid li span.span_1{ background-position:0 -150px;}
.nbecame_mid li span.span_2{ background-position:0 -300px;}
.nbecame_mid li span.span_3{ background-position:0 -450px;}
.nbecame_mid li span.span_4{ background-position:0 -600px;}
.nbecame_mid li .h_1{ margin-top:10px; height:30px; line-height:30px; font-size:22px; color:#333333;}
.nbecame_mid li p{ margin-top:5px; color:#838383; line-height:18px; text-align:left;}

/* 入驻条件 */
.nrules{ width:910px; margin-top:30px;}
.nrules_top{ height:47px; border-bottom:1px solid #dfdfdf; line-height:47px; font-size:26px; color:#333333;}
.nrules_mid{ width:910px; height:185px; background:url(../images/xuyuan_bg.png) 0 -750px no-repeat; margin:40px 0 0;}

/* 入驻四步 */
.checkin{ width:910px; margin-top:100px;}
.checkin_top{ height:47px; border-bottom:1px solid #dfdfdf; line-height:47px; font-size:26px; color:#333333;}
.checkin_mid{ width:910px; margin-top:30px;}
.checkin_mid ul{}
.checkin_mid li{ float:left; display:inline; width:227px; background:url(../images/xuyuan_bg.png) right -1313px no-repeat; text-align:center;}
.checkin_mid li .li_top{ display:inline-block; width:140px; height:92px; background:url(../images/xuyuan_bg.png) right -1050px no-repeat;}
.checkin_mid li .li_top_1{ background-position:0 -1050px;}
.checkin_mid li .li_top_2{ background-position:-250px -1050px;}
.checkin_mid li .li_top_3{ background-position:-500px -1050px;}
.checkin_mid li .li_top_4{ background-position:-750px -1050px;}
.checkin_mid li .li_mid{ display:inline-block; width:250px; height:42px; background:url(../images/xuyuan_bg.png) 0 -1190px no-repeat; line-height:42px; font-size:24px; color:#666666; text-align:left;}
.checkin_mid li .li_mid_1{ background-position:0px -1190px;}
.checkin_mid li .li_mid_2{ background-position:-235px -1190px;}
.checkin_mid li .li_mid_3{ background-position:-485px -1190px;}
.checkin_mid li .li_mid_4{ background-position:-735px -1190px;}
.checkin_mid li .li_mid font{ padding-left:30px;}
.checkin_mid li .li_mid_2 font,.checkin_mid li .li_mid_3 font,.checkin_mid li .li_mid_4 font{ padding-left:40px;}
.checkin_mid li.last{ background:none;}

/* 培训计划 */
.nplan{ width:910px; margin-top:70px;}
.nplan_top{ height:47px; border-bottom:1px solid #dfdfdf; line-height:47px; font-size:26px; color:#333333;}
.nplan_mid{ width:910px; margin-top:30px;}
.nplan_mid li{ float:left; display:inline; width:188px; height:124px; margin:0 19px; background:url(../images/xuyuan_bg.png) 0 -1500px no-repeat;}
.nplan_mid li.li_1{ background-position: 0 -1500px;}
.nplan_mid li.li_2{ background-position:-250px -1500px;}
.nplan_mid li.li_3{ background-position:-500px -1500px;}
.nplan_mid li.li_4{ background-position:0px -1650px;}

/* 成长路线 */
.ngrown{ width:910px; margin-top:70px;}
.ngrown_top{ height:47px; border-bottom:1px solid #dfdfdf; line-height:47px; font-size:26px; color:#333333;}
.ngrown_mid{ margin-top:30px;}
.ngrown_mid_fr{ float:right; display:inline; background:url(../images/xuyuan_bg.png) -500px -150px no-repeat; width:300px; height:435px;}
.ngrown_mid_fl{ float:left; display:inline; width:510px; margin:60px 0 0 60px; color:#666666; font-size:16px; line-height:36px;}

/* 入驻人列表 */
.nteclist{ width:910px; margin:70px 0;}
.nteclist_top{ height:47px; border-bottom:1px solid #dfdfdf; line-height:47px; font-size:26px; color:#333333;}
.nteclist_mid{ width:910px; margin-top:30px;}
.nteclist_mid li{ float:left; display:inline; width:168px; height:230px; margin:0 29px;}
.nteclist_mid li a{ position:relative; display:block; width:168px; height:230px; text-align:center;}
.nteclist_mid li a .span_bg{ position:absolute; display:none; left:0; top:0; width:168px; height:230px; background:#469fdd; filter:alpha(opacity=90); opacity:0.9;}
.nteclist_mid li a .span_con{ position:absolute; display:none; left:0; top:0; width:168px; height:230px;}
.nteclist_mid li a img{ width:168px; height:230px; border:0;}
.nteclist_mid li a .h_1{ display:inline-block; margin-top:20px; width:160px; height:31px; font-size:26px; line-height:31px; color:#ffffff; text-align:center; overflow:hidden;}
.nteclist_mid li a .h_2{ display:inline-block; width:160px; height:25px; font-size:14px; line-height:25px; color:#ffffff; text-align:center; overflow:hidden;}
.nteclist_mid li a .p{ display:inline-block; width:160px; margin:8px 0; border-top:1px solid #71bff5; padding:8px; line-height:18px; color:#ffffff; text-align:left;}
.nteclist_mid li a:hover{ color:#ffffff; text-decoration:none;}
.nteclist_mid li a:hover .h_1,.nteclist_mid li a:hover .h_2,.nteclist_mid li a:hover .p{ color:#ffffff; text-decoration:none;}
.nteclist_mid li a:hover .span_bg,.nteclist_mid li a:hover .span_con{ display:block;}

/* 右侧注册 */
.right_reg{ margin-top:30px;}
.right_reg .nreg_top_2{ background:url(../images/right_reg_top.jpg) no-repeat;}

/* 视频开始 */
.nvideolist{ width:1200px; padding:40px 0;}
.nvideolist_top{ background:url(../images/line_2.jpg) left bottom repeat-x;}
.nvideolist_top_fl{ background:url(../images/line_left.jpg) left bottom no-repeat;}
.nvideolist_top_fr{ background:url(../images/line_right.jpg) right bottom no-repeat; text-align:center;}
.nvideolist_top_fr a{ position:relative; display:inline-block; width:254px; height:110px; background:#d6effb; margin:0 8px 3px; text-align:center;}
.nvideolist_top_fr a .h_1{ display:inline-block; width:254px; height:45px; margin-top:20px; line-height:45px; color:#30b1ed; font-size:36px;}
.nvideolist_top_fr a .h_2{ display:inline-block; width:254px; height:27px; line-height:27px; color:#30b1ed; font-size:14px;}
.nvideolist_top_fr a .triangle{ position:absolute; left:108px; top:112px; width:38px; height:22px; background:url(../images/triangle.jpg) no-repeat; display:none;}
.nvideolist_top_fr a.cur,.nvideolist_top_fr a:hover{ background:#30b1ed;}
.nvideolist_top_fr a.cur .h_1,.nvideolist_top_fr a.cur .h_2,.nvideolist_top_fr a:hover .h_1,.nvideolist_top_fr a:hover .h_2{ color:#ffffff; text-decoration:none;}
.nvideolist_top_fr a.cur .triangle,.nvideolist_top_fr a:hover .triangle{ display:block;}
.nvideolist_mid{ width:1200px; padding-top:20px;}
.nvideolist_mid dl{ width:1100px; margin:10px auto 0; color:#333333; font-size:14px;}
.nvideolist_mid dt{ float:left; display:inline; width:66px; height:28px; line-height:28px; text-align:right;}
.nvideolist_mid dd{ float:right; display:inline; width:1030px;}
.nvideolist_mid dd a{ display:inline-block; height:28px; padding:0 14px; line-height:28px; margin-right:5px; color:#333333; text-decoration:none; text-align:center;}
.nvideolist_mid dd a.cur,.nvideolist_mid dd a:hover{ background:#30b1ed; color:#ffffff; text-decoration:none;}
.nvideolist_mid_2{ width:1100px; margin:0 auto;}
.nvideolist_mid_2 ul{ margin-left:-30px; padding-top:10px;}
.nvideolist_mid_2 li{ float:left; display:inline; width:262px; height:244px; margin:20px 0 0 20px; box-shadow:0 0 5px 0 #cccccc;}
.nvideolist_mid_2 li a{ position:relative; display:block; padding:11px 0; border:1px solid #cdcdcd; background:#ffffff; text-align:center;}
.nvideolist_mid_2 li a img{ width:240px; height:126px; border:none;}
.nvideolist_mid_2 li a .h_1{ display:inline-block; margin-top:10px; width:240px; height:28px; line-height:28px; color:#333333; font-size:18px;}
.nvideolist_mid_2 li a .h_2{ display:inline-block; width:240px; height:22px; line-height:22px; color:#999999;}
.nvideolist_mid_2 li a .h_3{ display:inline-block; width:240px; height:34px; line-height:34px; color:#838383;}
.nvideolist_mid_2 li a .play{ position:absolute; left:100px; top:45px; width:61px; height:61px; background:url(../images/play.png) no-repeat;}
.nvideolist_mid_2 li a.cur{ background:#e4f4fc;}
.nvideolist_mid_2 li a:hover .h_1{ color:#333333; text-decoration:underline;}
.nvideolist_mid_2 li a:hover .h_2{ color:#999999; text-decoration:underline;}
.nvideolist_mid_2 li a:hover .h_3{ color:#838383; text-decoration:underline;}
.nvideolist_bot{ width:1100px; margin:0 auto; text-align:right; padding:40px 0 0;}
.npage{ font-family:Candara;}
.npage a,.npage span{ display:inline-block; height:44px; border:1px solid #d9d9d9; padding:0 12px; font-size:24px; line-height:44px; color:#838383; text-align:center; vertical-align:top;}
.npage span,.npage a.cur{ background:#30b1ed; color:#ffffff; border:1px solid #30b1ed;}
.npage a.last,.npage a.first,.npage a.prev,.npage a.next{ font-family:"\u9ed1\u4f53"; font-size:18px; color:#838383;}
.npage a:hover{ background:#30b1ed; color:#ffffff; border:1px solid #30b1ed; text-decoration:none;}

/* 状元课堂 */
.nchampion{ width:910px; margin-top:30px;}
.nchampion_top{ border:1px solid #d9d9d9; height:50px; background:#f1f1f1; padding:0 0 0 20px; font-size:24px; line-height:48px; color:#333333;}
.nchampion_mid{ width:910px;}
.nchampion_mid_fl{ float:left; display:inline; width:24px; height:420px; margin-top:40px; }
.nchampion_mid_fr{ float:right; display:inline; width:24px; height:420px; margin-top:40px;}
.nchampion_mid_fl a,.nchampion_mid_fr a{ display:inline-block; width:24px; height:420px;}
.nchampion_mid_fl a{ background:#f1f1f1 url(../images/icon_left.png) center center no-repeat;}
.nchampion_mid_fr a{ background:#f1f1f1 url(../images/icon_right.png) center center no-repeat;}
.nchampion_mid_fl.light a{ background:#f1f1f1 url(../images/icon_left_green.png) center center no-repeat;}
.nchampion_mid_fr.light a{ background:#f1f1f1 url(../images/icon_right_green.png) center center no-repeat;}

.nchampion_mid_fc{ float:left; display:inline; width:860px; height:420px;}
.nchampion_mid_fc ul{}
.nchampion_mid_fc li{ float:left; display:inline; width:860px;}
.nchampion_mid_fc li .qa_course{ float:left; display:inline; width:236px; height:190px; margin:40px 25px 0; text-decoration:none;}
.nchampion_mid_fc li .qa_course .h_1{ height:38px; color:#333333; font-size:22px; line-height:38px; text-decoration:none;}
.nchampion_mid_fc li .qa_course .h_1 .icon_span{ display:inline-block; width:60px; height:24px; background:url(../images/champion_bg.png) no-repeat; vertical-align:middle;}
.nchampion_mid_fc li .qa_course .h_1 .icon_span.online{ background-position:0 0;}
.nchampion_mid_fc li .qa_course .h_1 .icon_span.offline{ background-position:0 -150px;}
.nchampion_mid_fc li .qa_course .h_2{ height:22px; line-height:22px; color:#838383; font-size:14px;}
.nchampion_mid_fc li .qa_course .qa_block{ position:relative; display:inline-block; border:1px solid #9c9c9c;height: 124px}
.nchampion_mid_fc li .qa_course .qa_block img{ width:234px; height:122px;}
.nchampion_mid_fc li .qa_course .qa_block .icon_play1{ cursor:pointer;position:absolute; left:90px; top:28px; background:url(../images/play.png) no-repeat; width:62px; height:62px;}
.nchampion_mid_fc li .qa_course .qa_block .icon_play2{ position:absolute; left:0; top:0; background:#0d3544; width:236px; height:124px; text-align:center;}
.nchampion_mid_fc li .qa_course .qa_block .icon_play4{ position:absolute; left:0; top:0; background:#0d3544; width:236px; height:124px; text-align:center;}
.nchampion_mid_fc li .qa_course .qa_block .span_a{ cursor:pointer;display:inline-block; border:2px solid #cccccc; border-radius:20px; margin-top:38px; padding:0 20px; line-height:40px; font-size:22px; color:#ffffff;}
.nchampion_mid_fc li .qa_course .qa_block .span_a:hover{ text-decoration:none; color:#ffffff;}
.nchampion_mid_fc li .qa_course .qa_block .icon_block{ position:absolute; width:234px; height:122px; left:0; top:0; background:#000000; filter:alpha(opacity=60); opacity:0.6;}
.nchampion_mid_fc li .qa_course .qa_block .icon_play3{ cursor:pointer;position:absolute; width:234px; height:122px; left:0; top:0; color:#ffffff; text-align:center;}
.nchampion_mid_fc li .qa_course .qa_block .icon_play3 span{ display:inline-block; margin-top:16px; height:30px; line-height:30px; font-size:14px;}
.nchampion_mid_fc li .qa_course .qa_block .icon_play3 font{ display:inline-block; height:60px; line-height:30px; font-size:18px;}
.nchampion_mid_fc li .a_hover span.h_1{ color:#333333; text-decoration:none;}
.nchampion_mid_fc li .a_hover span.h_2{ color:#838383; text-decoration:none;}

/* 与高人为伍 */
.nfriend{ width:910px; margin-top:60px;}
.nfriend_top{ border:1px solid #d9d9d9; height:50px; background:#f1f1f1; padding:0 0 0 20px; font-size:24px; line-height:48px; color:#333333;}
.nfriend_mid{ margin-top:40px;}
.nfriend_mid li{ float:left; display:inline; width:200px; margin:0 50px; text-align:center;}
.nfriend_mid li span{ display:inline-block; width:82px; height:54px; background:url(../images/champion_bg.png) 0 -300px no-repeat;}
.nfriend_mid li span.span_1{ background-position:0 -300px;}
.nfriend_mid li span.span_2{ background-position:0 -450px;}
.nfriend_mid li span.span_3{ background-position:0 -600px;}
.nfriend_mid li .h_1{ height:30px; line-height:30px; font-size:20px; color:#666666;}
.nfriend_mid li .h_2{ line-height:18px; font-size:12px; color:#838383; text-align:left;}

/* 得到 */
.nget{ width:910px; margin-top:60px;}
.nget_top{ border:1px solid #d9d9d9; height:50px; background:#f1f1f1; padding:0 0 0 20px; font-size:24px; line-height:48px; color:#333333;}
.nget_mid{ margin-top:40px; background:url(../images/champion_bg_1.png) no-repeat; height:306px;}

/* 上课流程 */
.nlisten{ width:910px; margin-top:60px; border:1px solid #a6d8f2;}
.nlisten_top{ height:50px; background:#f1f1f1; padding:0 0 0 20px; font-size:24px; line-height:48px; color:#333333;}
.nlisten_mid{ background:url(../images/champion_bg_1.png) 0 -306px no-repeat; padding:150px 0 25px; text-align:center;}
.nlisten_mid a{ display:inline-block; width:194px; height:53px; margin:0 20px; border-radius:5px; line-height:53px; font-size:20px; color:#ffffff;}
.nlisten_mid a.a_btn_1{ background:#ee9d11;}
.nlisten_mid a.a_btn_2{ background:#239bef;}
.nlisten_mid a:hover{ text-decoration:none; color:#ffffff;}

/* 靠他学员短版 */
.students_1{ width:910px; margin:30px 0 0;}
.students_1 .students_top{ border:1px solid #d9d9d9; height:50px; background:#f1f1f1; padding:0 0 0 20px; font-size:24px; line-height:48px; color:#333333;}
.students_1 .students_mid li{ margin-right:36px;}
.students_1 .students_mid li.last{ margin-right:0;}

/* 右侧立即体验 */
.nreg_3{}
.nreg_top_3{ width:258px; height:80px; background:#469fdd; text-align:center;}
.nreg_top_3 .h_1{ color:#ffffff; font-size:18px; line-height:30px; padding-top:10px; font-weight:bold;}

/* 价格表 */
.nprice{ margin-top:25px;}
.nprice_top{ width:258px; height:46px; line-height:46px; font-size:22px; color:#333333;}
.nprice_mid{ width:258px; background:#f1f1f1; border-bottom:1px solid #d8d8d8; padding-top:20px;}
.nprice_mid_c{ width:224px; margin:0 auto;}
.nprice_mid_c table{ width:224px; background:#d3d3d3; border-collapse:inherit; border-spacing:1px;}
.nprice_mid_c table th,.nprice_mid_c table td{ height:30px; vertical-align:middle; text-align:center;}
.nprice_mid_c table th{ background:#1fa1dd; color:#ffffff; font-weight:bold;}
.nprice_mid_c table td{ color:#666666; background:#ffffff;}
.nprice_mid_c .note{ padding:10px 0; line-height:21px; color:#666666;}
.nprice_mid_c .note span{ float:left; display:inline;}
.nprice_mid_c .note font{ float:right; display:inline; width:200px;}
.nprice_mid_c .note em{ color:#ff0000; font-style:normal;}
.nprice_bot{ background:#f1f1f1; padding:10px 0 20px; text-align:center;}
.nprice_bot_1{ font-size:14px; color:#666666; line-height:30px;}
.nprice_bot_2{ padding-top:5px; text-align:center;}
.nprice_bot_2 a{ display:inline-block; width:220px; height:40px; background:#ee9d11; border-radius:3px; line-height:40px; color:#ffffff; font-size:20px;}
.nprice_bot_2 a:hover{ color:#ffffff; text-decoration:none;}

/* 移动端 */
.nbanner_5{ background:url(../images/banner_app.jpg) top center no-repeat; height:512px;}
.nbanner_con_5{ position:relative; width:1200px; height:512px; margin:0 auto;}
.nbanner_con_5 .img{ position:absolute; background:url(../images/app_bg_1.png) no-repeat; width:365px; height:710px; right:0; top:100px;}

/* 微信提问 */
.nweixin{ position:relative; background:url(../images/app_bg_2.png) no-repeat; margin-top:100px; width:1200px; height:554px;}
.nweixin .img{ position:absolute; top:-30px; left:370px; background:url(../images/app_bg_3.png) no-repeat; width:235px; height:204px;}
.nweixin .span_1{ font-size:30px; color:#333333; line-height:50px; padding:200px 0 0 650px;}
.nweixin .span_2{ font-size:14px; color:#666666; line-height:30px; padding:0 0 0 650px;}

/* 拍照提问 */
.nphoto{ background:url(../images/app_bg_4.png) right top no-repeat; height:370px;}
.nphoto .span_1{ font-size:30px; color:#333333; line-height:50px; padding:100px 0 0 100px;}
.nphoto .span_2{ font-size:14px; color:#666666; line-height:30px; padding:0 0 0 100px;}

/* 学霸 */
.nfriendapp{ background:url(../images/app_bg_5.png) 50px 0 no-repeat; height:340px; margin-bottom:140px;}
.nfriendapp .span_1{ font-size:30px; color:#333333; line-height:50px; padding:200px 0 0 600px;}
.nfriendapp .span_2{ font-size:14px; color:#666666; line-height:30px; padding:0 0 0 600px;}

/* 保分计划 */
.nbanner_6{ background:#758531 url(../images/banner_6.jpg) center top no-repeat; box-shadow:0px 0px 7px 0 #cccccc inset;}
.nbanner_6 .nbanner_con_2{ height:564px;}

/* 保分说明 */
.npromise{ text-align:center; padding-top:20px;}
.npromise span{ float:left; display:inline; width:250px; height:120px; margin-right:66px; background:url(../images/nbaofen_bg.png) no-repeat;}
.npromise span.span_1{ background-position:0 0;}
.npromise span.span_2{ background-position:0 -150px;}
.npromise span.span_3{ background-position:0 -300px;}
.npromise span.span_4{ background-position:0 -450px;}
.npromise span.last{ margin-right:0;}

/* 保分班型 */
.npromise_type{ width:1200px; margin:0 auto; padding:70px 0 0;}
.npromise_type_top{ padding-top:0;}
.npromise_type_top .h_1{ height:94px; line-height:94px; font-size:48px; font-weight:bold; color:#333333; text-align:center;}
.npromise_type_top .h_2{ height:56px; line-height:56px; font-size:30px; color:#333333; text-align:center;}
.npromise_type_top .h_3{ height:30px; line-height:30px; font-size:20px; color:#666666; text-align:center;}
.npromise_type_top_1{ text-align:center; margin-top:30px;}
.npromise_type_top_1 a{ display:inline-block; width:254px; height:44px; border-radius:3px; line-height:44px; color:#ffffff; font-size:20px; font-weight:bold; background:#ee9d11;}
.npromise_type_top_1 a:hover{ color:#ffffff; text-decoration:none;}
.npromise_type_mid{ width:890px; margin:0 auto; padding-top:40px;}
.npromise_type_mid dl{ border-bottom:1px solid #dedede; height:54px;}
.npromise_type_mid dt,.npromise_type_mid dd{ float:left; display:inline; width:177px; border-right:1px solid #dedede; line-height:53px; color:#666666; text-align:center;}
.npromise_type_mid dt{}
.npromise_type_mid dd.last{ border-right:none;}
.npromise_type_mid dl.first{ background:#d6d6d6; font-size:16px; color:#333333;}
.npromise_type_mid dl.first dt{ position:relative;}
.npromise_type_mid dl.first dt .span{ position:absolute; left:0; top:-34px; width:177px; height:89px; background:url(../images/free_bg.jpg) 0 -600px no-repeat;}
.npromise_type_mid dl.first dd{ width:354px;}
.npromise_type_mid dl.even{ background:#f1f1f1;}
.npromise_type_mid dl dt.lh18,.npromise_type_mid dl dd.lh18{ line-height:18px;}
.npromise_type_mid dl dd.ptb9{ padding:9px 0;}
.npromise_type_bot{ padding:50px 0 0; text-align:center;}
.npromise_type_bot a{ display:inline-block; width:220px; height:40px; margin:0 10px; background:#ee9d11; border-radius:3px; font-size:16px; color:#ffffff; line-height:40px; text-align:center;}
.npromise_type_bot a.btn_blue{ background:#469fdd;}
.npromise_type_bot a:hover{ text-decoration:none;}

/* 保分学员 */
.npromise_student{ padding:50px 0 50px;}
.npromise_student_top{ width:1200px; text-align:center;}
.npromise_student_top .h_2{ height:56px; line-height:56px; font-size:30px; color:#333333; text-align:center;}
.npromise_student_top .h_3{ height:30px; line-height:30px; font-size:20px; color:#666666; text-align:center;}
.npromise_student_mid{ width:1200px; margin:0 auto; padding-top:30px;}
.npromise_student_mid li{ position:relative; float:left; display:inline; width:240px; background:#ebebeb; margin:0 30px; padding:30px 0; text-align:center;}
.npromise_student_mid li img{ width:180px; height:180px; vertical-align:top;}
.npromise_student_mid li .p{ width:180px; text-align:left; margin:0 auto; padding-top:6px;}
.npromise_student_mid li .p_1{ color:#666666; font-weight:bold; font-size:14px; line-height:28px;}
.npromise_student_mid li .p_2{ color:#999999; line-height:18px;}
.npromise_student_mid li .top_con{ display:none; position:absolute; left:0; top:0; bottom:0; right:0; width:100%; height:100%;}
.npromise_student_mid li .top_1{ position:absolute; left:0; top:0; width:240px; height:170px; background:#469fdd; filter:alpha(opacity=95); opacity:0.95;}
.npromise_student_mid li .top_2{ position:absolute; left:0; top:170px; bottom:0; width:240px; background:#ee9d11; filter:alpha(opacity=95); opacity:0.95;}
.npromise_student_mid li .top_con_1{ position:absolute; left:0; top:0; width:240px; padding:14px 0; font-size:16px; text-align:center; color:#ffffff;}
.npromise_student_mid li .top_con_1 dl{ height:36px; line-height:36px;}
.npromise_student_mid li .top_con_1 dt{ float:left; display:inline; width:130px; text-align:right; font-weight:normal; }
.npromise_student_mid li .top_con_1 dd{ float:left; display:inline; text-align:left; font-weight:normal; }
.npromise_student_mid li .tc{ text-align:center; font-weight:bold;}
.npromise_student_mid li .top_con_2{ position:absolute; left:0; top:170px; bottom:0; width:240px; text-align:left;}
.npromise_student_mid li .top_con_2 p{ padding:10px 10px 0; line-height:22px; color:#ffffff;}
.npromise_student_mid li .top_con_2 p.last{ padding-top:5px;}
.npromise_student_mid li .top_con_2 span{ font-weight:bold;}
.npromise_student_mid li.cur .top_con{ display:block;}

/* 充值 */
.nbanner_7{ background:#758531 url(../images/banner_7.jpg) center top no-repeat; box-shadow:0px 0px 7px 0 #cccccc inset;}
.nbanner_7 .nbanner_con_2{ width:1200px; height:446px; margin:0 auto;}

/* 充值表单 */
.npay{ width:260px; height:300px; position:relative; margin:70px 40px 0 0; padding-top:8px; float:right;}
.npay_bg{ position:absolute; top:0; left:0; width:260px; height:308px; background:#ffffff; filter:alpha(opacity=80); opacity:0.8;}
.npay_top{ position:relative; width:220px; height:43px; border-bottom:1px solid #c0c0c0; margin:0 auto; font-size:24px; color:#333333; line-height:43px; text-align:center;}
.npay_mid{ position:relative; width:220px; margin:0 auto; padding-top:10px;}
.npay_mid .input_text_normal{ border:1px solid #a6d9fc; box-shadow:0px 0px 3px 0 #cccccc;}
.npay_mid li{ width:220px; height:53px;}
.npay_mid li .input_text_normal{ width:218px; *width:192px;}
.npay_mid li .input_btn_big{ height:50px; line-height:50px; font-size:22px;}
.npay_mid li.h_1{ height:20px; line-height:20px; color:#666666; font-size:14px;}
.npay_mid li.h_2{ height:40px; line-height:40px; color:#666666; text-align:center;}
.npay_mid li.h_2 a{ color:#3c80d5; text-decoration:none;}
.npay_mid li.h_2 a:hover{ color:#3c80d5; text-decoration:underline;}

/* 充值卡说明 */
.npay_note{ float:left; display:inline; width:635px; margin:30px 0 0 30px;}
.npay_card{ float:right; display:inline; width:462px; margin:30px 30px 0 0;}
.npay_title{ font-size:24px; color:#333333; background:url(../images/line.png) left bottom repeat-x; height:50px;}
.npay_title span{ border-bottom:4px solid #ff9000; line-height:46px; display:inline-block; padding:0 3px;}
.npay_note dl{ margin-top:20px;}
.npay_note dt{ display:block; line-height:40px; font-size:16px; color:#333333; font-weight:normal;}
.npay_note dt span{ color:#117bde;}
.npay_note dd{ display:block; padding:0 20px 0 25px; color:#666666; font-size:14px; line-height:24px; font-weight:normal;}
.npay_note dd .red{ color:#ff0000;}
.npay_note dd a.red{ color:#ff0000; text-decoration:underline;}
.npay_note dd a.red:hover{ text-decoration:none;}
.npay_card_mid{ margin-top:30px;}
