/**
 * 全局样式
 */
body { background-color:#F6F6F6 !important; font-size:12px; font-family:'Microsoft YaHei','微软雅黑','Times New Roman',Tahoma,Arial,Verdana,sans-serif;overflow:scroll; color:#666; }
img {margin:0px;padding:0px;}
form, ul, li, p, h2, h3, h4, h5, input{margin: 0px;padding: 0px;list-style-image: none;list-style-type: none;list-style-position: outside;}
em{font-weight: normal;font-style: normal; overflow:hidden;}
a {color: #333333; text-decoration: none; }
a:hover {color:#f00; text-decoration:none; }
.container { width:1020px; max-width: 1020px min-width:1020px; margin:0 auto; padding:0;}
.red { color:Red;}
.site-navbar, .nav-pills, .gxItem {-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;}
/*主导航*/
.site-navbar { height:56px; padding:15px 0;}
.navbar { min-height:56px; margin-bottom:0; border:none;  }
.navbar>.container .navbar-brand { padding:0; margin-left:0px;}
/*Logo*/
.logo{width:216px;height:56px; }
.navbar-collapse { padding:0;}
.navbar-nav{font-size:16px;padding-top:10px;height:46px;}
.navbar-nav li {  margin-left:20px; display:inline; }
.navbar-nav>li>a, .navbar-nav>li  { padding:0; line-height:46px;}
.navbar-nav>li>a:hover { background-color:transparent;}
.navbar-nav.navbar-right:last-child { margin-right:0;}
.glyphicon-earphone { color:#2b90c5; font-weight:600;}
.navbar-toggle { color: #333; }
/*栏目导航*/
.nav-wrap {height:42px; min-width:1020px; background: #017ab9;font-size: 14px;}
.nav-wrap .container{position:relative;}
.find { position: absolute; width: 106px; height: 42px; left: 0; top: 0; background: url(../img/find.png) no-repeat; }

/*最顶端css*/
.headTop{ height:24px; background-color:#ececec; line-height:24px; color:#333;}
.top-container{margin: 0 auto;
    min-width: 1020px;
    padding: 0;
    width: 1020px;}
.top-right{ float:right;}
.top-right a, .top-right a:link, .top-right a:active{ padding:0 5px; margin-right:5px; text-decoration:none;}
.site-navbar{ border-radius:0;}
.phone{ float:left; margin-right:5px;}
.phone-num{ float:left; font-size:16px;}
.phone-ul{ margin-top:25px; margin-right:5px; padding:0 5px;}

/*#nav-pills { position: absolute; left: 106px; top: 0; height: 22px; line-height: 22px; padding: 11px 0; overflow: hidden; }*/
/*#nav-pills li { padding: 0px 15px; float: left; border-left: 1px #0086cc solid; border-right: 1px #0069a0 solid; }*/
/*#nav-pills li:first-child { border-left: none; }*/
/*#nav-pills li:last-child { border-right: none; }*/
/*#nav-pills>li>a { padding:0;color:#fff; }*/
/*#nav-pills>li>a:hover  { background-color:transparent; }*/
/*#nav-pills>li+li { margin-left: 0; }*/


.nav-wrap .navbar-nav { padding-top:0; height: 42px;border-left: 1px #0069a0 solid;
border-right: 1px #0086cc solid; }
.nav-wrap .navbar-nav li { margin-left:0;line-height:42px;border-left: 1px #0086cc solid; border-right: 1px #0069a0 solid;}/*height:42px;*/
.nav-wrap .navbar-nav li a { color:#b6cfdd; line-height:42px;}
.nav-wrap .navbar-nav li span.glyphicon-search {padding:0 15px;}
.nav-wrap .navbar-nav li span.glyphicon-shopping-cart,.nav-wrap .navbar-nav li span.glyphicon-chevron-down {padding:10px;}
.nav-wrap .dropdown-menu { border-top:none;}
.nav-wrap .nav .open>a { background:#23a3e5;}
.nav-wrap .dropdown-menu { width:240px; overflow:hidden; border:1px #23a3e5 solid; padding:12px; line-height:24px; right:-2px;}
.nav-wrap .dropdown-menu li { border:none;}
.nav-wrap .dropdown-menu li a { height:24px; line-height:24px; display:block; padding:3px 0; color:#666; white-space: nowrap; overflow: hidden;text-overflow: ellipsis; }
.nav-wrap .dropdown-menu li a:hover { background-color:transparent; color:#f00;}

.nav-wrap .navbar-nav li .divider{
    height: 1px;
}
/*中部*/
.wrapBox {padding: 20px 10px;margin-bottom: 20px;background: #FFF;position: relative;border: 1px #dddddd solid;border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;box-shadow: 0 1px 1px rgb(229,230,231);-moz-box-shadow: 0 1px 1px rgb(229,230,231);-webkit-box-shadow: 0 1px 1px rgb(229,230,231);}
.wrapBox .row { margin:10px 0 0 0;}
.wrapBox .row .col-sm-8 { padding:0 15px 0 0;}
.wrapBox .row .col-sm-4 { padding:0 0 0 15px;}
.wrapBox .col-md-6, .wrapBox .col-md-4 { padding-left:0; padding-right:20px; margin-bottom:20px; height: 86px; overflow: hidden;}
.wrapBox .col-md-6 span.teach, .wrapBox .col-md-12 span.teach { float:right;}
.wrapBox .col-md-6 img, .wrapBox .col-md-4 img { width: 86px; float: left; }
.wrapBox .col-md-6 .detail, .wrapBox .col-md-4 .detail { margin-left:100px; position: relative; }
.wrapBox .col-md-6 .detail h4, .wrapBox .col-md-4 .detail h4 { padding-left:30px; font-size:14px; height:40px; line-height:20px; padding-bottom:10px;}
.wrapBox .col-md-6 .detail p, .wrapBox .col-md-4 .detail p { height:15px; line-height:15px; margin-top:21px; overflow:hidden;}
.wrapBox .col-md-6 .detail .online, .wrapBox .col-md-4 .detail .online { background:url(../img/online.png) no-repeat; margin-left:8px; color:#FFF; padding-left:12px; display:inline-block; width:42px; height:15px;}
.wrapBox .col-md-6 .detail .num, .wrapBox .col-md-4 .detail .num { float:right;}
.wrapBox .col-md-6 .detail span.red, .wrapBox .col-md-4 .detail span.red { font-weight:600; font-size:14px;}
.wrapBox .col-md-6 .detail .xk, .wrapBox .col-md-4 .detail .xk { width:18px; height:48px; color:#FFF; text-align:center; line-height:18px; position:absolute; left:0; top:0; background:url(../img/xkBg.png) no-repeat;}
.wrapBox .boxTitle {height: 36px;overflow: hidden;position: relative;border-bottom: 2px #dddddd solid; }
.wrapBox .boxTitle .view
{
    height:20px;
    line-height:20px;
    overflow:hidden;
    color:#999;
    vertical-align:top;
    position:absolute;
    top:4px;
    left:120px;
}
.wrapBox .boxTitle span.hui
{
    width:30px;
    height:22px;
    overflow:hidden;
    display:inline-block;
    padding-right:10px;
    background:url(../img/hui.gif) left center no-repeat;
}
.wrapBox .boxTitle .view a
{
    color:#017ab9;
    vertical-align:top;
}
.wrapBox .boxTitle .more
{
    position:absolute;
    right:0;
    top:4px;
    padding-right:25px;
    color:#999;
    background:url(../img/arrow.gif) right center no-repeat;
}

.wrapBox .nav-pills {
    position:relative; left:0;  line-height: 32px; font-size: 14px;padding-top:10px;
}
/*height: 32px;*/

.wrapBox .nav-pills li {
float: left;
display: block;
cursor: pointer;
padding: 0 15px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
border:none;
}
.wrapBox .nav-pills li.active {
background: #1190d2;
color: #fff;
}
.wrapBox .nav-pills li a{
    color:#333;
    padding:0px;
}
.wrapBox .nav-pills li.active a {
    color:#fff;
    padding:0px;
}

/**
 * SITE FOOTER
 */
 .site-footer {
	margin-top: 20px;
	border-top: 1px solid #d1d1d1;
	width:100%;
	min-width:1020px;
	background:#dedfe0;
}
.site-footer .row-3-1
{
    padding:20px 0;
    border-bottom:1px #cacbcc solid;
}
.site-footer .row-3-1 .col-md-8 { border-right:1px #cacbcc solid;}
.site-footer .row-3-2
{
    padding:15px 30px;
    border-top:1px #eeeff0 solid;
}
.site-footer .row-3-2 a { padding:0 12px;}
.site-footer .col-md-8 .col-md-4
{
    margin-top:15px;
}
.col-md-4 .col-md-6
{
    padding:4px 0 4px 10px;
    background: url(../img/arrow2.gif) left center no-repeat;
}
.site-footer h4
{
    font-weight:600;
    font-size:14px;
    line-height:32px;
}
.site-footer .col-md-8 .col-md-4:nth-child(3)
{
    border-right:none;
}
.site-footer .row-3-3
{
    padding:15px 0;
    margin:0;
    text-align:center;
    background-color:#cacbcc;
    line-height:30px;
}
.site-footer strong
{
    color:#333;
}

.footer-consult { padding:80px 9px 27px 28px; border-left:1px #eeeff0 solid;  background:url(../img/foottel.png) 19px 20px no-repeat;}

/**
 * </global>
 */
.navbar-nav li span.loghead { width:32px; height:32px; display:inline-block;margin-right:7px;}
.navbar-right li>ul>li { margin-left:0px; display:block;}

.navbar-nav>li>a, .navbar-nav>li { padding:0; line-height:46px;}

/*内部模块*/
.kthy{ line-height:32px; padding:10px 15px; background:#f7f7f7;}




.ellipsis {
    float:left;
    display:block;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    word-break:keep-all;
}

.loghead img {
    width:32px
}

.grade {
    vertical-align: middle;
    display: inline-block;
}
.grade-small-5{
    background:url('../img/grade.png') no-repeat -169px -28px;
    width:23px;
    height:23px
}
.grade-small-3{
    background:url('../img/grade.png') no-repeat -193px -28px;
    width:23px;
    height:23px
}
.grade-small-1{
    background:url('../img/grade.png') no-repeat -220px -28px;
    width:23px;
    height:23px
}
.grade-small-4{
    background:url('../img/grade.png') no-repeat -246px -28px;
    width:23px;
    height:23px
}
.grade-small-2{
    background:url('../img/grade.png') no-repeat -274px -28px;
    width:23px;
    height:23px
}

.grade-normal-5{
    background:url('../img/grade.png') no-repeat -122px -76px;
    width:42px;
    height:42px
}
.grade-normal-3{
    background:url('../img/grade.png') no-repeat -170px -76px;
    width:42px;
    height:42px
}
.grade-normal-1{
    background:url('../img/grade.png') no-repeat -223px -76px;
    width:42px;
    height:42px
}
.grade-normal-4{
    background:url('../img/grade.png') no-repeat -276px -76px;
    width:42px;
    height:42px
}
.grade-normal-2{
    background:url('../img/grade.png') no-repeat -330px -76px;
    width:42px;
    height:42px
}


.grade-big-5{
    background:url('../img/grade.png') no-repeat -64px -143px;
    width:60px;
    height:60px
}
.grade-big-3{
    background:url('../img/grade.png') no-repeat -134px -143px;
    width:60px;
    height:60px
}
.grade-big-1{
    background:url('../img/grade.png') no-repeat -210px -143px;
    width:60px;
    height:60px
}
.grade-big-4{
    background:url('../img/grade.png') no-repeat -287px -143px;
    width:60px;
    height:60px
}
.grade-big-2{
    background:url('../img/grade.png') no-repeat -365px -143px;
    width:60px;
    height:60px
}

/*去掉按钮文字背景色*/
/*.active a{*/
    /*background-color:transparent !important;*/
/*}*/
/*.province a{*/
    /*background-color:rgba(99,170,235,0.5) !important;*/
/*}*/
/*.province a:hover{*/
    /*background-color:rgba(99,170,235,1) !important;*/
/*}*/

/* 开通会员弹出窗 */
.kthybut_tyvip, .kthybut_ty{ height:48px; font-size:14px; line-height:20px; vertical-align:middle; text-align:center; margin:0; padding:0; width:100%;}
.kthybut_ty{ margin-right:0;}
.text-muted, .money-text{padding-top: 7px;}
.alert-info-change{ font-size:14px; background:0 none; border:0 none; text-align:center;}
.s_times{ text-align:center; font-size:14px; line-height:30px;}

/*页面右侧导航*/
/*.rightNav{ position:fixed; z-index:999; width:100px; left:50%; top:50%; margin-top:120px; margin-left:540px;}*/
.rightNav{ position:fixed; z-index:999; width:100px;}
.rightNav .list-group { margin-bottom:0;}
.rightNav .list-group-item{ margin-bottom:10px; height:35px; overflow:hidden; line-height:35px; overflow:hidden; border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px; background-color:#d2d3d4; width:120px;color:#fff; font-size:14px;-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box; padding:0; border:none; }
.flt-rightNav-w{width:35px;}
.rightNav .list-group-item a { display:block; text-decoration:none; border:none; overflow:hidden; outline: none;}
.rightNav .list-group-item a span.flr { height:35px; width:35px; line-height:35px; text-align:center; top:0;  background-color:#c5c6c7; display:inline-block;}
.rightNav .list-group-item a:hover { display:block; background-color:#5094dd; color:#fff;}
.rightNav .list-group-item a:hover span.flr { background-color:#4b8cd1; }
.navup{ width:35px; height:35px; cursor:pointer;
    border: medium none;
    border-radius: 5px;
    box-sizing: content-box;
    font-size: 14px;
    line-height: 35px;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 0;

}
.navup{	color:#333; background-color:#c5c6c7; }
.navdown{background-color:#4b8cd1; color:#fff;width:35px; height:35px; cursor:pointer;
    border: medium none;
    border-radius: 5px;
    box-sizing: content-box;
    font-size: 14px;
    line-height: 35px;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 0;}
.navup span, .navdown span{height:35px; width:35px; line-height:35px; text-align:center; top:0; display:inline-block;}


/*模态框*/
#myModal .modal-dialog .modal-body { padding:25px 72px;}

/*导航*/
.navbar-nav{font-size:16px;padding-top:10px;height:46px; margin-left:25px;}

.my-navbar-nav li{ margin-left:5px; display:inline; }

.my-navbar-nav li span.loghead { width:32px; height:32px; margin-right:7px;}

.navbar-right li>ul>li { margin-left:0px; display:block;}

.navbar-nav>li>a, .navbar-nav>li { padding:0; line-height:46px; display:inline-block;}

.navbar-nav>li>a{ padding:0px 10px;}

.navbar-nav>li>a:hover{ background-color:#eee; border-radius:4px; color:#4b8cd1;}
.herder-nav-Active{ background-color:#eee; border-radius:4px; color:#4b8cd1;}

.navbar-nav.navbar-right:last-child{ margin-right:0;}

.glyphicon-earphone{ color:#2b90c5; font-weight:600;}

.navbar-toggle{ color: #333; }

.navbar-nav li.active a{ background-color:#eee;border-radius:4px; color:#4b8cd1;}

.headcart li a:hover{background-color:transparent; color:#b6cfdd;}

/*第二部分导航*/
.my_navi{ position: absolute; left: 106px; top: 0; height: 42px; padding:0; }

.my_navi li{ float: left; padding:0; border:0 none; height:42px; }

.my_navi li a{ padding:10px 15px; padding:0 15px; margin-top:11px;color:#fff; display:inline-block; height:22px;  border-left: 1px #0086cc solid; border-right: 1px #0069a0 solid;border-radius:0px;}

.my_navi li a:focus{ background-color:transparent;}

.my_navi li a.firstA{ border-left: none; }

.my_navi li a.lastA{ border-right: none; }

.my_navi li a:hover { background-color:#0069a0; height:42px; padding:0 15px; margin-top:0px; line-height:42px; border-left:1px #017ab9 solid; border-radius:0px;}
.header-tow-active { background-color:#0069a0; height:42px !important; padding:0 15px; margin-top:0px !important; line-height:42px; border-left:1px #017ab9 solid; border-radius:0px;}

.my_navi>li+li{ margin-left: 0; }

.my_navi li a.active{ background-color:#0069a0; height:42px; padding:0 15px; margin-top:0px; line-height:42px; border-left:1px #017ab9 solid;border-radius:0px;}

ul.my_navi_ul li a:hover{ background-color:#0069a0;}

ul.my_navi_ul li a:focus{ background-color:transparent;}

/*体验卡*/
/*.ex-body{*/
    /*width:500px;*/
    /*height:auto;*/
    /*margin:auto;*/
    /*background-color: #ffffff;*/
/*}*/
/*.ex-body>div{*/
    /*padding: 25px;*/
/*}*/
/*.ex-body h2 {*/
    /*text-align: center;*/
    /*font-size: 25px;*/
    /*font-family: "microsoft yahei";*/
    /*font-weight: bold;*/
/*}*/

/*.ex-body .close{*/
    /*margin:15px*/
/*}*/
.wrapBox .nav-pills li{
    padding:0px !important;
}
.wrapBox .nav-pills li a{
    padding:0px 15px !important;
}
.wrapBox .nav-pills li a:hover{
    padding:0px 15px !important;
}

.conditions .nav-pills {
    position: relative;
    left: 0;
    line-height: 32px;
    font-size: 14px;
    padding-top: 10px;
}

/*height: 32px;*/

.conditions .nav-pills li {
    float: left;
    display: block;
    cursor: pointer;
    padding: 0 15px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: none;
}

.conditions .nav-pills li.active {
    background: #1190d2;
    color: #fff;
}

.conditions .nav-pills li a {
    color: #333;
    padding: 0px;
}

.conditions .nav-pills li.active a {
    color: #fff;
    padding: 0px;
}

.conditions .nav-pills li {
    padding: 0px !important;
}

.conditions .nav-pills li a {
    padding: 0px 15px !important;
}

.conditions .nav-pills li a:hover {
    padding: 0px 15px !important;
}