@charset "UTF-8";
/* nheader */
.nheader{ background:#ffffff; overflow:hidden; zoom:1;}
.nheader_top{ background:#565656;}
.nheader_top_con{ width:1200px; height:40px; margin:0 auto;}
.nheader_top_fl{ float:left; display:inline; height:40px;}
.nheader_top_fl li{ float:left; display:inline; margin-right:30px; line-height:40px; vertical-align:middle;}
.nheader_top_fl li img{ float:left; display:inline; width:16px; height:16px; margin:12px 5px 0 0;}
.nheader_top_fl li a{ color:#ccc; text-decoration:none;}
.nheader_top_fl li a:hover{ color:#fff; text-decoration:none;}
.nheader_top_fr{ position:relative; float:right; display:inline; height:40px;}
.nheader_top_fr a{ display:inline-block; background:#565656 url(../images/icons.png) 10px 0 no-repeat; padding:0 13px 0 40px; height:40px; line-height:40px; color:#cccccc; text-decoration:none;}
.nheader_top_fr a.a1{ background-position: 10px 0;}
.nheader_top_fr a.a2{ background-position: 10px -50px;}
.nheader_top_fr a.a3{ background-position: 10px -100px;}
.nheader_top_fr a:hover{ background-color:#3a3a3a; color:#cccccc; text-decoration:none;}
.nheader_top_fc{ float:right; display:inline;}
.nheader_top_fc a{ display:inline-block; padding:0 20px; height:40px; line-height:40px; color:#cccccc; text-decoration:none;}
.nheader_top_fc a:hover{ background:#3a3a3a; color:#ffffff; text-decoration:none;}
.nheader_top_fc_1{ float:right; display:inline; color:#cccccc; height:40px; line-height:40px;}
.nheader_top_fc_1 a{ color:#cccccc; text-decoration:none;}
.nheader_top_fc_1 a:hover{ color:#cccccc; text-decoration:underline;}
.nheader_mid{ width:1200px; margin:0 auto; padding:32px 0 24px;}
.nheader_dialog_1{ position:absolute; right:74px; top:40px; display:none; width:108px; height:108px; border:1px solid #d0d0d0;}


.nmenu{ background:#fff url(../images/line.png) left top repeat-x; height:40px; width:100%; box-shadow:0 3px 3px 0 #cccccc;}
.nmenu_float{ position:fixed; top:0; left:0; height:40px; width:100%; z-index:1000;}
.nmenu_con{ width:1200px; height:40px; margin:0 auto; font-size:16px;}
.nmenu_con a{ display:inline-block; width:170px; height:40px; line-height:40px; text-align:center; color:#000000; text-decoration:none;}
.nmenu_con a.cur,.nmenu_con a:hover{ color:#ffffff; background:#469fdd; text-decoration:none;}

/* nfooter */
.nfooter{ background:#efefef;}
.nfooter_top{ background:#dbdbdb; height:50px;}
.nfooter_top_con{ width:1200px; margin:0 auto;}
.nfooter_top_con dt{ float:left; display:inline; height:50px; margin-right:10px; line-height:50px; font-size:16px; color:#666666; font-weight:bold;}
.nfooter_top_con dd{ float:left; display:inline; margin:10px 20px 0 0;}

.nfooter_mid{ padding:33px 0; height:154px; *height:auto; background:url(../images/line.png) left bottom repeat-x;}
.nfooter_mid_con{ width:1200px; margin:0 auto;}
.nfooter_mid_fl{ float:left; display:inline; width:394px; background:url(../images/line.png) right top repeat-y; height:90px;}
.nfooter_mid_fr{ float:right; display:inline; width:224px; margin-left:70px; height:90px;}
.nfooter_mid_fc{ float:right; display:inline; width:440px; margin-left:70px; height:90px; background:url(../images/line.png) right top repeat-y;}
.nfooter_mid_con .dt{ color:#666666; height:20px; font-size:14px; line-height:20px; font-weight:bold;}
.nfooter_mid_con .dd{ padding:6px 0;}
.nfooter_mid_con .dd a{ display:inline-block; line-height:24px; height:24px; color:#999999; text-decoration:none; margin-right:20px;}
.nfooter_mid_con .dd a:hover{ color:#999999; text-decoration:underline;}
.nfooter_bot{ background:#efefef;}
.nfooter_bot_con{ width:1200px; margin:0 auto; padding:5px 0 20px; line-height:20px;}
.nfooter_bot_con li{ width:800px; margin:0 auto; padding-top:25px;}
.nfooter_bot_con span{ font-size:14px; font-weight:bold; padding-right:10px;}
.nfooter_bot_con img{ border:1px solid #cacbcc;}
.nfooter_bot_con a{ display:inline-block; margin-right:20px; color:#999; text-decoration:none;}
.nfooter_bot_con a:hover{ color:#999; text-decoration:underline;}
.nfooter_foot{ background:#636363; border-top:4px solid #ffffff; padding:20px 0 12px; text-align:center;}
.nfooter_foot .p_1{ height:30px; line-height:24px; color:#efefef;}
.nfooter_foot .p_1 a{ padding:0 10px; color:#efefef; text-decoration:none;}
.nfooter_foot .p_1 a:hover{ color:#efefef; text-decoration:underline;}
.nfooter_foot .p_2{ height:24px;}
.nfooter_foot .p_2 a{ display:inline-block; height:24px; margin-bottom:12px; padding:0 10px; color:#efefef; text-decoration:none; line-height:24px;}
.nfooter_foot .p_2 a:hover{ color:#efefef; text-decoration:underline;}
.nfooter_foot .p_2 span{ display:inline-block; height:24px; line-height:24px; color:#efefef;}
.nfooter_foot .p_2 .icons{ background:url(../images/icons.png) no-repeat; padding-left:30px;}
.nfooter_foot .p_2 .icons_1{ background-position:0 -150px; padding-left:30px;}
.nfooter_foot .p_2 .icons_2{ background-position:0 -180px; padding-left:30px;}
.nfooter_foot .p_2 .icons_3{ background-position:0 -210px; padding-left:30px;}
.nfooter_foot .p_2 .icons_4{ background-position:0 -240px; padding-left:30px;}
.nfooter_foot .p_2 .icons_5{ background-position:0 -270px; padding-left:30px;}
.nfooter_foot .p_2 .icons_6{ background-position:0 -300px; padding-left:30px;}