/**
 * 全局样式
 */

/*body{ background-color:#F6F6F6; font-size:12px; font-family:'Microsoft YaHei','微软雅黑','Times New Roman',Tahoma,Arial,Verdana,sans-serif;overflow:scroll; color:#666; }*/
/*img{margin:0px;padding:0px;}*/
/*ul li,ul, li, p, h2, h3, h4, h5, input{margin: 0px;padding: 0px;list-style-image: none;list-style-type: none;list-style-position: outside;}*/
/*em{font-weight: normal;font-style: normal; overflow:hidden;}*/
/*a{color: #333333; text-decoration: none; }*/
/*a:hover{color:#f00; text-decoration:none; }*/
/*.container{ width:1020px; min-width:1020px; margin:0 auto; padding:0; }*/
/*.red{ color:Red;}*/
/*.gray{ color:Gray;}*/
/*.ff9745{ color:#017ab9;}*/
/*.f60 { color:#f60;}*/
/*.site-navbar, .nav-pills, .gxItem, .search{-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;}*/
/*主导航*/
/*.site-navbar{ height:56px; padding:22px 0;}*/
/*.navbar{ min-height:56px; margin-bottom:0; border:none;  }*/
/*.navbar>.container .navbar-brand{ padding:0; margin-left:0px;}*/

/*Logo*/
/*.logo{width:216px;height:56px; }*/
/*.navbar-collapse{ padding:0;}*/
/*.navbar-nav{font-size:16px;padding-top:10px;height:46px;}*/
/*.navbar-nav li{  margin-left:20px; display:inline; }*/
/*.navbar-nav>li>a, .navbar-nav>li { padding:0; line-height:46px;}*/
/*.navbar-nav>li>a:hover{ background-color:transparent;}*/
/*.navbar-nav.navbar-right:last-child{ margin-right:0;}*/
/*.glyphicon-earphone{ color:#2b90c5; font-weight:600;}*/
/*.navbar-toggle{ color: #333; }*/
/*栏目导航*/
.nav-wrap{height:42px; min-width:1020px; background: #017ab9;font-size: 14px;}
.nav-wrap .container{position:relative;}
.find{ position: absolute; width: 106px; height: 42px; left: 0; top: 0; background: url(../img/find.png) no-repeat; }
/*.nav-pills{ position: absolute; left: 106px; top: 0; height: 22px; line-height: 22px; padding: 10px 0; }*/
/*.nav-pills li{ padding: 0px 15px; float: left; border-left: 1px #0086cc solid; border-right: 1px #0069a0 solid; }*/
/*.nav-pills li:first-child{ border-left: none; }*/
/*.nav-pills li:last-child{ border-right: none; }*/
/*.nav-pills>li>a{ padding:0;color:#fff; }*/
/*.nav-pills>li>a:hover { background-color:transparent; }*/
/*.nav-pills>li+li{ margin-left: 0; }*/

/*#nav-pills { position: absolute; left: 106px; top: 0; height: 22px; line-height: 22px; padding: 11px 0; overflow: hidden; }*/
/*#nav-pills li { padding: 0px 15px; float: left; border-left: 1px #0086cc solid; border-right: 1px #0069a0 solid; }*/
/*#nav-pills li:first-child { border-left: none; }*/
/*#nav-pills li:last-child { border-right: none; }*/
/*#nav-pills>li>a { padding:0;color:#fff; }*/
/*#nav-pills>li>a:hover  { background-color:transparent; }*/
/*#nav-pills>li+li { margin-left: 0; }*/

.nav-wrap .navbar-nav{ padding-top:0; height: 42px;border-left: 1px #0069a0 solid;border-right: 1px #0086cc solid; }
.nav-wrap .navbar-nav li{ margin-left:0;line-height:42px;height:42px;border-left: 1px #0086cc solid; border-right: 1px #0069a0 solid;}
.nav-wrap .navbar-nav li a{ color:#b6cfdd; line-height:42px;}
.nav-wrap .navbar-nav li span.glyphicon-search{padding:0 15px;}
.nav-wrap .navbar-nav li span.glyphicon-shopping-cart,.nav-wrap .navbar-nav li span.glyphicon-chevron-down{padding:0 10px;}
.nav-wrap .dropdown-menu{ border-top:none;}
.nav-wrap .nav .open>a{ background:#23a3e5;}
.nav-wrap .dropdown-menu{ width:240px; overflow:hidden; border:1px #23a3e5 solid; padding:12px; line-height:24px; right:-2px;}
.nav-wrap .dropdown-menu li{ border:none;}
.nav-wrap .dropdown-menu li a{ height:24px; line-height:24px; display:block; padding:3px 0; color:#666; white-space: nowrap; overflow: hidden;text-overflow: ellipsis; }
.nav-wrap .dropdown-menu li a:hover{ background-color:transparent; color:#f00;}
/*星级*/
.zerostar,.onestar, .twostar, .threestar, .fourstar, .fivestar{ background:url(../img/stars.png) no-repeat; width:80px; height:16px; display:inline-block;}
.zerostar{ background-position:left -80px;}
.onestar{ background-position:left -64px;}
.twostar{ background-position:left -48px;}
.threestar{ background-position:left -32px;}
.fourstar{ background-position:left -16px;}
.fivestar{ background-position:left top;}
/*分页*/
.pages{ text-align:center;}
/*全屏大图轮播*/
.slides{ width:100%; min-width:1020px; height:320px; margin:0 auto 20px; position:relative;}
.carousel-inner>.item>img{ width:1440px; height:320px;}
.carousel-control.left, .carousel-control.right{ background:none;}
.carousel-indicators li{ background:#c8c8c8; margin:0; border:none; width:16px; height:16px; -moz-border-radius: 50px; -webkit-border-radius: 50px; border-radius: 50px; }
.carousel-indicators .active{ width:16px; height:16px; background:#017ab9;}
.slides .carousel-control{ display:none;}
/*登录*/
.login{position:absolute;height:250px;left:50%;top:25px;padding:25px 23px 0px;margin-left:218px;background:#FFF;border:1px #dddddd solid; }
.login .username, .login .password{height:28px;line-height:28px;padding:7px 0px;border:1px #dddddd solid;background:-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;}
.login .username span, .login .password span{ font-size:18px; padding:0 12px; color:#5d6e80;}
.login .username{margin-bottom:25px;}
.login input{border:none;outline: none;font-size:16px;color:#a9a9a9;}
.auto-login{height:16px;line-height:16px;margin:10px 0px;position:relative;}
.selcheck{color: #82827e;margin-bottom:5px;vertical-align:middle;}
.forgetPassword{position:absolute;right:0;}
.btn-login{ width:240px;height:42px;cursor:pointer;background-color:#ff4400;color:#fafafa;font-size:18px;}
.btn-login:hover{color:#fff;}
.register{line-height:24px;text-align:right;}
/*省份*/
/*.province a{ display:block; width:84px; height:76px; background:rgba(99,170,235,0.6); }*/
.province a {
    background: none repeat scroll 0 0 rgba(99, 170, 235, 0.6);
    display: block;
    height: 70px;
    width: 70px;
}

.province a:hover{ background:rgba(99,170,235,1); }
p.name{ line-height:26px; text-align:center;}
p.name a:hover{ color:#1190d2;}
/*中部模块样式*/
.wrapBox{padding: 20px 19px;margin-bottom: 20px;background: #FFF;position: relative;border: 1px #dddddd solid;border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;box-shadow: 0 1px 1px rgb(229,230,231);-moz-box-shadow: 0 1px 1px rgb(229,230,231);-webkit-box-shadow: 0 1px 1px rgb(229,230,231);}
/*直播时间*/
.zbTime{ width:385px; height:30px; padding-left:15px; right:0; top:12px; color:#999; font-size:12px; line-height:26px; position:absolute; background:url(../img/zbTime.png) no-repeat;}
.wrapBox .row{ margin:0;}
.wrapBox .row .col-sm-8{ padding:0 15px 0 0;}
.wrapBox .row .col-sm-4{ padding:0 0 0 15px;}
.wrapBox .nav-pills{ position:relative; left:0; height: 32px; line-height: 32px; font-size: 14px;}
.wrapBox .nav-pills li{float: left;display: block;cursor: pointer;padding: 0 15px;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;border:none;}
.wrapBox .nav-pills li.active{background: #1190d2;color: #fff;}
.wrapBox .nav-pills li a{ color:#333;}
.wrapBox .nav-pills li.active a{ color:#fff;}
.wrapBox .boxTitle{height: 36px;overflow: hidden;position: relative;border-bottom: 2px #dddddd solid;}
.wrapBox .boxTitle .view{height:20px;line-height:20px;overflow:hidden;color:#999;vertical-align:top;position:absolute; top:4px;left:120px;}
.wrapBox .boxTitle span.hui{width:30px;height:22px;overflow:hidden;display:inline-block;padding-right:10px;background:url(../img/hui.gif) left center no-repeat;}
.wrapBox .boxTitle .view a{color:#017ab9;vertical-align:top;}
.wrapBox .boxTitle .more{position:absolute;right:0;top:4px; padding-right:25px; color:#999;background:url(../img/arrow.gif) right center no-repeat;}

/************ 首页 ************/
/*答疑*/
.dy .col-md-6, .dy .col-md-4{ padding-left:0; padding-right:20px; margin-bottom:20px; height: 86px; overflow: hidden;}
.dy .col-md-6 span.teach, .dy .col-md-12 span.teach{ float:right;}
.dy .col-md-6 img, .dy .col-md-4 img{ width: 86px; float: left; }
.dy .col-md-6 .detail, .dy .col-md-4 .detail{ margin-left:100px; position: relative; }
.dy .col-md-6 .detail h4, .dy .col-md-4 .detail h4{ padding-left:30px; font-size:14px; height:40px; line-height:20px;}
.dy .col-md-6 .detail p, .dy .col-md-4 .detail p{ height:15px; line-height:15px; margin-top:21px; overflow:hidden;}
.dy .col-md-6 .detail .online, .dy .col-md-4 .detail .online{ background:url(../img/online.png) no-repeat; margin-left:8px; color:#FFF; padding-left:12px; display:inline-block; width:42px; height:15px;}
.dy .col-md-6 .detail .num, .dy .col-md-4 .detail .num{ float:right; padding-left:20px; }
.dy .col-md-6 .detail span.red, .dy .col-md-4 .detail span.red{ font-weight:600; font-size:14px;}
.dy .col-md-6 .detail .xk, .dy .col-md-4 .detail .xk{ width:18px; height:48px; color:#FFF; text-align:center; line-height:18px; position:absolute; left:0; top:0; background:url(../img/xkBg.png) no-repeat;}
.zxdy .col-sm-4 .nav-tabs{ height: 35px;font-size: 14px; border:none; }
.zxdy .col-sm-4 .nav-tabs>li{float: left;width:50%;text-align:center;margin-bottom:0;}
.zxdy .col-sm-4 .nav-tabs>li>a{ margin-right:0; display:block; padding:0; line-height:35px; border:none;}
.zxdy .col-sm-4 .nav-tabs>li.active>a,.wrapBox .col-sm-3 .nav-tabs>li.active>a:hover{ border:none;}
.zxdy .col-sm-4 .tab-content{ background-color:#fafafa;}
.zxdy .col-sm-4 .nav-tabs>li.active a{  background-color:#efefef;}
.col-sm-4 .nav-tabs>li>a{ background-color:#fafafa;}
#hdzx, #tjkc{ padding-bottom:12px;}
#hdzx .adImg, #tjkc .adImg{ width:240px; margin:0 auto; padding:15px 0; }
#hdzx .adImg img, #tjkc .adImg img{ width:240px; height:80px;}
#hdzx ul, #tjkc ul{ padding:0 10px 10px;  }
#hdzx ul li, #tjkc ul li{ height:30px; line-height:30px; padding-left:10px; overflow:hidden; background:url(../img/dot.gif) left center no-repeat; }
.slides2{ height:80px; overflow:hidden; margin:0 auto; }
.slides2 .carousel-inner{ min-height:80px; left:53px; right:53px;}
.slides2 .carousel-inner img{ width:200px; height:80px;}
.slides2 .glyphicon-chevron-left{ left:20px; font-weight:400;}
.slides2 .glyphicon-chevron-right{ right:20px;}

/*在线测评*/
#kkzq .row, #mxtj .row, #mstj .row{ padding:0;}
.zxcp .col-sm-8, .zxcp .col-sm-4, .zxcp .col-md-2, .zxcp .col-md-10{ padding:0;} 
#kkzq .nav-pills, #mxtj .nav-pills, #mstj .nav-pills{ height:auto;}
#kkzq .nav-pills li, #mxtj .nav-pills li, #mstj .nav-pills li{line-height: 28px;width: 68px;background: #eeeff0;cursor: pointer;float:none;border:none;margin-bottom: 15px;}
#kkzq .nav-pills li.active, #mxtj .nav-pills li.active, #mstj .nav-pills li.active{background: url(../img/hoverTab.png) no-repeat;color: #fff;}
.zxcp .col-md-6{ height:36px; line-height:36px; margin-bottom:0; padding-left:0;}
.zxcp .col-md-6 .teach{ float:right; color:#999; padding-right:15px;  }
.zxcp .col-sm-4  h4{ line-height:30px; font-size:14px;}
.zxcp .col-md-4{ padding:0px 16px 10px 0px; height:110px; margin-bottom:0;} 

/*在线课程*/
.zxkc .row .row{ padding:0;}
.zxkc .row>.tab-content .nav-pills{ padding:0 0 10px;}
.zxkc .row>.tab-content .nav-pills li.active { background-color:transparent; border:none; }
.zxkc .row>.tab-content .nav-pills li.active a{ background:#fff; color:#1190d2; font-weight:600;}

/*个性化学习*/
.gxhxx .gxItem{ padding-left:100px; height:20px; line-height:20px; padding:22px 0px; overflow:hidden; background:url(../img/gx.png) left center no-repeat #f9f9f9; margin:15px 0; }
.gxhxx .gxItem ul{ padding-left:100px;}
.gxhxx .gxItem ul li{ display:inline; float:left; margin-right:20px;}
.gxhxx .gxItem ul li span{width:20px; height:20px; text-align:center; color:#fff; font-weight:600; background:#f00; display:inline-block; -moz-border-radius: 50px; -webkit-border-radius: 50px; border-radius: 50px;}
.gxhxx .col-md-4{ height:96px; overflow:hidden; margin-bottom:20px;}
.gxhxx .col-md-4 img{ float:left; width:140px; height:96px;}
.gxhxx .col-md-4 .detail{ float:right; width:150px; margin:0;  }
.gxhxx .col-md-4 .detail h4 { font-size:14px; line-height:36px; font-weight:600; padding-left:0;}
.gxhxx .col-md-4 .detail p{ line-height:20px; margin-top:0; height:40px;}
.gxhxx .zxkt{ background-color:#f9f9f9; }
.gxhxx .zxkt .zxBtn{width: 240px;height: 42px;margin: 32px auto;line-height: 42px;background: #ff4400;display: block;font-size: 14px;font-family: "微软雅黑";font-weight: 600;color: #FFF;text-align: center;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;box-shadow: 0 1px 1px rgb(0,0,0,.8);-moz-box-shadow: 0 1px 1px rgb(0,0,0,.8);-webkit-box-shadow: 0 1px 1px rgb(0,0,0,.8);}

/*名师推荐*/
.mstj .tab-content{ padding:10px 0;}
.tj .col-md-4, .tj .col-md-6{ height:90px; overflow:hidden; padding-left: 0; padding-right: 20px; margin-bottom: 20px;}
.tj .col-md-4 img, .tj .col-md-6 img{ float:left; width:90px; height:90px;}
.tj .col-md-4 .detail, .tj .col-md-6 .detail { float:right; width:200px; margin:0; position:relative;  }
.tj .col-md-4 .detail h4, .tj .col-md-6 .detail h4 { font-size:14px; height:34px; line-height:34px; font-weight:600; padding:0;}
.tj .col-md-4 .detail p, .tj .col-md-6 .detail p { line-height:28px; margin-top:0; height:56px;}
.tj .col-md-4 .detail .jpTeacher, .tj .col-md-6 .detail .jpTeacher{ position:absolute; left:50px; top:0px; padding-left:36px; height:30px; line-height:30px; color:#999; background:url(../img/jpIcon.gif) left center no-repeat;}


/******************* 自主招生 ****************/

 .next-wrap{ width:100%; min-width:1020px; background:#bcbcbc;  padding:20px 0;}/*margin-bottom:20px;*/

 .next-main{ width:1020px; height:324px; overflow:hidden; margin:0 auto;}
 
/*大图轮播*/
.slides700{ width:700px; height:324px; float:left; position:relative;}
.slides700 .carousel-inner{ min-height:324px;}
.slides700 .carousel-inner>.item>img{ width:700px; height:324px;}
.slides700 .carousel-control.left, .carousel-control.right{ background:none;}
.slides700 .carousel-indicators{ margin-left:0; left:540px; width:100px; bottom:10px;}
.slides700 .carousel-indicators li{ background:#c8c8c8; border:none; width:16px; height:16px; -moz-border-radius: 50px; -webkit-border-radius: 50px; border-radius: 50px; }
.slides700 .carousel-indicators .active{ width:16px; height:16px; background:#017ab9;}
.slides700 .slides .carousel-control{ display:none;}
/*右侧*/
.next-right{ width:320px; float:right; height:324px; background-color:#f6f6f6;}
.next-right .row{ margin:10px 0;} 
.next-right .row:nth-child(2){ margin:0;} 
.next-right .row .col-md-3{ text-align:center; padding-bottom:2px; }
.next-right .row .col-md-3 a{ display:block;}
.next-right .row .col-md-3 a:hover{ background-color:#ffffff;  -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
.next-right .line{ margin:0px 15px; height:1px; border-bottom:1px #dddddd solid;}
.next-right .nav-pills{ position:relative; height:32px; line-height:32px; padding:0 15px; left:0; }
.next-right .nav-pills li{ border:none; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
.next-right .nav-pills>li>a{ color:#666; } 
.next-right .nav-pills>li.active,.next-right .nav-pills>li.active>a, .next-right .nav-pills>li.active>a:hover{ color:#666; background-color: #e9e9e9;}
.next-right .tab-content{ padding:0 15px;}
.next-right .tab-content li{ height:22px; line-height:22px; }
.next-right .tab-content li a{ position:relative;}
.next-right .tab-content li a .new{ position:absolute; width:20px; height:15px; right:-20px; top:-10px;}

/*招生日历*/
.zsrl .nav-pills{ height:80px;}
.zsrl .nav-pills li{ margin-bottom:8px;}
.zsrl .col-sm-4 span{ color:#ff8f44; padding-left:30px;}
.zsrl .col-sm-8 .rlText{ padding:8px 12px; margin:0 auto; width:400px; text-align:center; border:1px #dddddd dashed; }
.zsrl .col-sm-8 .rlText a{ padding:0px 8px; }
.rlbg{ width:310px; margin-top:10px; height:140px; background:url(../img/rlBg.png) no-repeat; }
.rlbg ul{ padding:20px 0 0 30px; width:180px; }
.rlbg ul li{ padding-left:10px; height:24px; line-height:24px; overflow:hidden; background:url(../img/dot.gif) left center no-repeat; }
.zsrl .nav-pills li{  width:52px; text-align:center; height:60px; padding:0; border:none; padding-bottom:32px;background: url(../img/rlnor.png) left bottom no-repeat; }
.zsrl .nav-pills>li.active>a, .zsrl .nav-pills>li.active>a:hover{ background-color:transparent; color:#ff2200; font-weight:600;}
.zsrl .nav-pills li a{ width:52px; display:block; text-align:center; color:#ff4400;}
.zsrl .nav-pills li.active{padding-bottom:32px; background: url(../img/rlhov.png) left bottom no-repeat; }

/*备考资料*/
.bk .col-md-6, .bk .col-md-12, .jzjl .col-md-12{ height:36px; line-height:36px; margin-bottom:0; }
/*报生简章*/
.zsjz .nav-pills{ height:80px;}
.zsjz .nav-pills li{ margin-bottom:8px;}
.zsjz .table{ width:49%; margin-right:2%; float:left;}
.zsjz .table th, .zsjz .table tr{ text-align:center;}
.zsjz .table th{ background:#f8f8f8; font-size:14px; font-weight:600; line-height:32px;}
.zsjz .table tr a{ color:Red;}
.zsjz .table:nth-child(2){ margin-right:0;}
.zsjz .table-bordered>thead>tr>th{ border:none;}
/*家长交流*/
.jzjl .row .col-sm-4{ padding:0 15px 0 0;}
.jzjl .row .col-sm-4:nth-child(3){ padding-right:0;}
.bk .col-md-12, .jzjl .col-md-12{ padding:0;}


/*************** 课程列表  资讯列表 资讯详情*****************/
.kclist{ margin-top:20px;}
.kclist .boxTitle{ border-bottom:2px #1190d2 solid;}
.kclist .nav-pills li:first-child{ cursor:default; }
.kclist .search{ background-color:#f7f7f7; height:30px; line-height:30px; margin:15px 0; position:relative; padding:5px 10px; font-size:18px;}
.kclist .search #sort,.kclist .search #classify{ display:inline-block;}
#sort, #classify{ padding:0;}
#sort li:first-child, #classify li:first-child{ cursor:pointer; }
#sort li, #classify li{ font-size:18px; color:#e5e5e5; height:30px; border:none; line-height:30px; color:#e4e4e4; height:30px; text-align:center; display:inline-block;}
#sort li{ width:30px; color:#e5e5e5; padding:0 5px;}
#classify li{ padding:0 15px;}
#sort li a{ color:#e5e5e5;}
#sort li.active{ background-color:#fff;  border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;}
#sort>li.active>a, sort>li.active>a:hover{ background:#fff; color:#e5e5e5;}
#classify li.active{  background-color:transparent; color:#333; font-weight:600;}
#classify >li.active>a, #classify >li.active>a:hover{ color:#333; background-color:transparent;}
.kclist .search .resultNum{ position:absolute; right:20px; top:5px; font-size:12px;}
.kclist .search .resultNum span{ color:#1190d2; font-weight:600;}

/*内容*/
.kclist .row .row{ margin-bottom:15px; border-color:#fff #fff #e6e6e6 #fff; border-style:solid; border-width:1px; padding:10px;}
.kclist .row .row:hover{ border:1px #dddddd solid; background-color:#f7f7f7; cursor:pointer; border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px; }
.kclist .row .col-md-2{ padding-right:15px; padding-left:0;}
.kclist .row .col-md-2 a{ line-height:24px; text-align:center; display:block;}
.kclist .row .col-md-10{ padding:0; }
.kclist .row .col-md-10 .detail{ position:relative;}
.kclist .row .col-md-10 .detail .xk{ width:38px; line-height:18px; height:18px; display:block; top:0; left:0; color:#fff; padding-left:4px; position:absolute; background:url(../img/bq.png) left center no-repeat;}
.kclist .row .col-md-10 .detail h4{ padding-left:45px; height:24px;}
.kclist .row .col-md-10 .detail h4 a{ position:relative;}
.kclist .row .col-md-10 .detail h4 a .new{position: absolute; width: 20px; height: 15px; right: -20px; top: -6px; }
.kclist .row .col-md-10 .detail .star{ height:16px; padding:10px 0; vertical-align:top;-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;}
.kclist .row .col-md-10 .detail .star span{ margin-right:20px;}
.kclist .row .col-md-10 .detail .star, .kclist .row .col-md-10 .detail p{ color:#999999;}
.kclist .row .col-md-10 .detail .type{ height:32px; line-height:32px; font-size:14px;}
.kclist .row .col-md-10 .detail .type span.red{ font-weight:600; padding:0 5px;}
.kclist .row .col-md-10 .detail .view{ position:absolute; right:0; bottom:0; width: 75px; height:30px; line-height:30px; text-align:center; background:#ff4400;border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px; color:#fff; display:block; }

/*资讯列表*/
.zxlist{ margin-top:20px;}
.zxlist .boxTitle{ border-bottom:2px #1190d2 solid;}
.zxlist .detail{ background:#f7f7f7; padding:10px 20px;}
.zxlist .zxItem ul{ margin-top:20px; padding-top:20px; border-top:2px #f5f5f5 solid;}
.zxlist .zxItem ul li{ height:36px; line-height:36px; border-bottom:1px #ddd dashed; overflow:hidden; }
.zxlist .zxItem ul li a{padding-left:20px; float:left; display:block; background:url(../img/zxarrow.gif) left top no-repeat;}
.zxlist .zxItem ul li a:hover{ padding-left:20px; background:url(../img/zxarrow.gif) left -36px no-repeat;}
.zxlist .zxItem ul li span.time{ float:right; color:#999999;}

/*资讯详情*/
.zxview{ margin-top:20px;}
.zxview .boxTitle{ border-bottom:2px #1190d2 solid;}
.zxview .crumbs{ margin:20px 0;background:#f7f7f7; padding:10px;}
.zxview .crumbs a{ color:#666; padding:0 12px;}
.zxview .type{ padding:12px 0;}
.zxview .context{ padding:0 25px 20px; }
.zxview .summary{background:#f7f7f7; line-height:32px; padding:10px;}
.zxview p{ padding:12px 0; line-height:26px; font-size:14px;}
.zxview p strong{ display:block;}
.share{ height:24px; padding:15px 0;-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;}
.pre-next{ height:72px; line-height:36px; border-bottom:1px #ddd dashed; border-top:1px #ddd dashed;}
.pre-next a:hover{ color:#ff6600;}
.zxview .row{ padding:20px 0;}
.zxview .row .col-md-2, .zxview .row .col-md-5{ padding:0;}
.zxview .row .col-md-2, .zxview .row .col-md-5 li{ line-height:24px;}

/*近期热点*/
.recent{ margin-bottom:20px; }
.recent h3, .ranking h3{ font-size:20px; height:36px; line-height:36px; border-bottom: 2px #ddd solid; }
.recent ul{ padding-top:10px;}
.recent ul li{ height:30px; line-height:32px;}

/*广告*/
.listad1{ width:240px; height:120px; margin:0 auto 20px;}

/*学员数排行*/
.ranking{ margin-bottom:20px;}
.ranking ul li{ line-height:18px; height:18px; padding:10px 80px 10px 0; overflow:hidden; position:relative; -webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;}
.ranking ul li span{ width:18px; margin-right:5px; height:18px; color:#fff;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px; text-align:center; display:inline-block; color:#fff;}
.ranking ul li span.f40{ background-color:#ff4400}
.ranking ul li span.c6c6c6{ background-color:#c6c6c6;}
.ranking ul li span.num{ position:absolute; right:0; top:12px; padding-left:20px; width:60px; font-weight:600; color:Red; background:url(../img/rankico.png) left -147px no-repeat;}

/*资讯*/
.information{ margin-bottom:0;}
.information .listTab{ height:35px; border-bottom:2px #ddd solid; }
.information .nav-tabs{ height:37px; padding-top:0; border:none;}
.information .nav-tabs>li{ float: left; font-size:16px;text-align:center;width:81px;line-height:30px; overflow:hidden;}
.information .nav-tabs>li.active{ height:35px; background:url(../img/arrow.png) left bottom no-repeat;z-index:999; overflow:hidden;}
.information .nav-tabs>li>a,.information .nav-tabs>li>a:hover, .information .nav-tabs>li.active>a,.information .nav-tabs>li.active>a:hover{ margin-right:0; padding:0; border: none; background-color:transparent; height:30px; line-height:30px; }
.information ul{ padding-top:10px;}
.information ul li{ height:30px; line-height:32px;}

/********* 频道页 ***********/
/*答疑课堂*/
.wrapBox .col-md-12{ padding:0 0 12px;}
.wrapBox .col-md-12 img{ width: 86px; float: left; }
.wrapBox .col-md-12 .detail{ margin-left:100px; position: relative; }
.wrapBox .col-md-12 .detail h4{ padding-left:30px; font-size:14px; height:40px; line-height:20px; padding-bottom:10px;}
.wrapBox .col-md-12 .detail p{ height:15px; line-height:15px; margin-top:21px; overflow:hidden;}
.wrapBox .col-md-12 .detail .online{ background:url(../img/online.png) no-repeat; margin-left:8px; color:#FFF; padding-left:12px; display:inline-block; width:42px; height:15px;}
.wrapBox .col-md-12 .detail .num{ float:right; padding-left:20px; }
.wrapBox .col-md-12 .detail span.red{ font-weight:600; font-size:14px;}
.wrapBox .col-md-12 .detail .xk{ width:18px; height:48px; color:#FFF; text-align:center; line-height:18px; position:absolute; left:0; top:0; background:url(../img/xkBg.png) no-repeat;}

/*专题课程推荐*/
.ssdt .row{ padding:10px 0; }
.ssdt .col-md-2{ padding-left:0;}
.ssdt .col-md-10{ padding-right:0; }
span.ask, span.answer, span.group{ width:24px; height:24px; display:inline-block;  -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; text-align:center; line-height:24px; font-size:16px; font-weight:600; color:#fff; margin-right:10px;}
span.ask{background-color:#5bc0de;}
span.answer{background-color:#ffcc66;}
span.group{background-color:#00cc33;}
.col-md-10 h4 a{ color:#428bca; font-size:16px;}
.col-md-10 p{ line-height:24px;}

/************ 测评 **************/
/*高考专区*/
.cpgkzq .row .col-md-6, .cpmxtj .row .col-md-6, .cpmstj .row .col-md-6{padding-left: 0; padding-right:15px; margin-bottom:0; height:36px; line-height:36px; overflow: hidden;}
.cpgkzq .col-md-4, .cpmxtj .col-md-4, .mstj .cpmstj-md-4{ padding:0px 16px 10px 0px; height:auto; margin-bottom:0; text-align:center;} 
.cpgkzq .col-sm-4 h4, .cpmxtj .col-sm-4 h4, .cpmstj .col-sm-4 h4{ line-height: 30px; font-size: 14px; }
/*名校*/
.mxSchool{display:block; width:82px; height:82px; margin:0 auto; }
/*名师*/
.msTeacher{display:block; width:70px; height:70px; margin:0 auto;}

/************ 答疑专区 *****************/
/*大图轮播*/
.slides1020{ width:1020px; height:324px; position:relative;}
.slides1020 .carousel-inner>.item>img{ width:1020px; height:324px;}
.slides1020 .carousel-control.left, .carousel-control.right{ background:none;}
.slides1020 .carousel-indicators{ bottom:10px;}
.slides1020 .carousel-indicators li{ background:#c8c8c8; border:none; width:16px; height:16px; -moz-border-radius: 50px; -webkit-border-radius: 50px; border-radius: 50px; }
.slides1020 .carousel-indicators .active{ width:16px; height:16px; background:#017ab9;}
.slides1020 .carousel-control{ display:none;}
/*直播答疑 Vip答疑*/
.boxTitle a.openup, .boxTitle a.know{ position:absolute; width:96px; height:32px; line-height:32px; text-align:center; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.boxTitle a.know{ background-color:#ededed; right:0; top:0; color:#999; }
.boxTitle a.openup{ background-color:#ff6600; right:112px; top:0;  color:#fff; font-weight:600; }
.zbdy .row .col-sm-8{ padding:20px 15px 10px 0;}
.vipdy .row .col-sm-8{ padding:10px 15px 10px 0;}
.zbdy .row .col-sm-4, .vipdy .row .col-sm-4{ padding:10px 0 10px 15px;}
.zbdy .moredy, .vipdy .moredy{ text-align:right;}
.zbdy .moredy a, .vipdy .moredy a{color:#017ab9;}

/*最新讨论列表*/
#newdiscuss ul li, #newvipdiscuss ul li{ height:32px; line-height:32px; overflow:hidden;}
#newdiscuss ul li a, #newvipdiscuss ul li a{ color:#428bca;}
#newdiscuss ul li span.time, #newvipdiscuss ul li span.time{ float:right; color:#999;}

/*最新学员*/
#newstudents .row .col-md-3{ padding:0 0 8px; text-align:center;}
#newstudents .row .col-md-3 a{ color:#017ab9;}

/*答疑入口*/
.dyrk{ margin-top:20px;}
.dyrk .row .col-sm-5{ padding-left:0;}
.dyrk .row .col-sm-7{ padding:0;}
.dyrk .row .col-sm-7 .title{ font-size: 28px; margin: 0 0 15px; }
.dyrk .row .col-sm-7 p{ margin-bottom:14px; position:relative; vertical-align:middle;}
.dyrk .row .col-sm-7 span.star{vertical-align:middle;}
.dyrk .row .col-sm-7 span.c{ color:#428bca;}
.dyrk a{ color:#428bca;outline: none;}
.dyrk .row .col-sm-7 p.border{ width:380px; padding:8px 10px; line-height:20px; border:1px #ddd solid; }
.dyrk .row .col-sm-7 .entryBtn{ width:120px; height:36px; text-align:center; line-height:36px; color:#fff;-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; background-color:#1190d2; position:absolute; top:10px; left:400px; }
.dyrk .row .col-sm-7 span.online{ background:url(../img/online.png) left center no-repeat; padding-left:10px; color:#fff; display:inline-block; width:42px; height:15px; line-height:15px;}
.dyrk .row .col-sm-7 span.kkBtn{ background:url(../img/kkBtn.gif) left center no-repeat; padding-left:10px; color:#fff; display:inline-block; width:64px; height:18px; line-height:18px;}
input[type=radio]{ margin-top:2px;}

/*内部模块*/
.subBox{ padding:10px 12px; border: 1px #dddddd solid; border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;box-shadow: 0 1px 1px rgb(229,230,231);-moz-box-shadow: 0 1px 1px rgb(229,230,231);-webkit-box-shadow: 0 1px 1px rgb(229,230,231); margin-bottom:20px;}
.dyrk .row .col-md-8{ padding-left:0;}
.dyrk .row .col-md-4{ padding-right:0; height:auto;}
.kthy{ line-height:32px; padding:10px 15px; background:#f7f7f7;}
.course-cover{font-size: 13px;}
.mbl{margin-bottom: 20px;}
.mtm{margin-top: 10px;}
.media-list .media{border-bottom: 1px solid #eee;padding-bottom: 15px;}
.media-heading a{ font-size:16px;}
/*课时*/
.classes{ font-size:14px;position: relative; padding: 10px 0;}
.classes:before{ height: 100%; width: 4px; background: #eee; position: absolute; left: 80px; content: ""; top: 0}
.classes li a{ padding: 8px 0; display: block; position:relative; color: #666; padding-right:21px; overflow:hidden; background:url(../img/dyarrow.gif) right center no-repeat; }
.classes li a:hover{ color: #f24c27; background:url(../img/dyarrow2.gif) right center no-repeat; }
.classes li a:hover .atitle:after{ background: #f24c27; }
.classes li a span{ display: inline-block; width: 82px; text-indent: 20px}
.classes li a .atitle{ display: inline-block; padding: 0 15px; position: relative}
.classes li a .atitle:after{ position: absolute; left: -6px; background: #009966; height: 12px; width: 12px; border-radius: 8px; top: 6px; content: ""; }
.classes li a .atitle:before{ position: absolute; left: -9px; background: #ddd; height: 18px; width: 18px; border-radius: 8px; top: 3px; content: ""; }
/*讨论区*/
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{ background-color:transparent; } 
#course-discuss .nav-pills{ margin-bottom:20px; border-bottom:1px #ddd solid;}
#course-discuss .nav-pills li{ padding:0; margin-right:5px;}
#course-discuss .nav-pills li a{ padding:0 15px;}
.teacher-carousel .carousel{padding: 0 20px;width: 180px;margin: 0 auto;}
.teacher-carousel-onlyone .carousel-control{display: none;}
.teacher-carousel .carousel-control{background: none;text-shadow: none;color: #999;}
.teacher-carousel .carousel-inner img.avatar{width: 100px;height: 100px;border-radius: 5px;display: inline-block;}
.teacher-carousel .carousel-inner .item {height:100px; width:100px;    margin:0 auto;text-align: center;}

.teacher-carousel .teacher-item-active{display: block;}
.teacher-carousel .teacher-item .nickname{text-align: center;font-size: 16px;margin: 15px 0 5px;}
.teacher-carousel .teacher-item .title{text-align: center;margin: 5px 0 5px;color: #666;}
.teacher-carousel .teacher-item .divider{background: #e3e3e3;height: 1px;overflow: hidden;margin: 15px 0;}
.teacher-carousel .teacher-item .about{font-size: 13px;}
.text-list{list-style: none;padding: 0;margin: 0;}
.text-list li{border-bottom: 1px solid #e3e3e3;padding: 8px 0;overflow:hidden;}
.user-grids{letter-spacing: -4px;zoom: 1;margin: 0;padding: 0;}
.user-grids li{list-style: none;text-align: center;display: inline-block;letter-spacing: 0;width: 23%;margin: 8px 1%;font-size: 12px;vertical-align: top;}
.user-grids .user-link{display: block;width: 100%;overflow: hidden;text-align:center;white-space: nowrap;text-overflow: ellipsis;}
.user-grids .user-avatar-link{margin-bottom: 5px;}
.col-md-4 .user-avatar-link img{width: 48px;height: 48px;float:none;}

/*************师资库****************/
.szk { margin-top:20px;}
.szk .search { width:100%; height:36px; line-height:36px; margin:20px 0;}
.szk .search .row { width:85%; display:inline-block; }
.szk .search label { margin-bottom:0;}
.szk .search span.glyphicon-search { width:5%; vertical-align:top; font-size:32px; color:#d3d3d3;}
.szk .search .btn-primary { vertical-align:top;}
.szk .search .row .col-xs-1, .szk .search .row .col-xs-2{  padding:0; text-align:center; } 
.szk .item .row .col-xs-2, .szk .item .row .col-xs-3 { text-align:center;}
.szk .headline { font-size:16px; padding:12px 0;  text-align:center; background-color:#f5f5f5;}
.szk .item { padding:10px 0;}
.szk .item .row{margin-bottom: 15px;border-color: #fff #fff #e6e6e6 #fff;border-style: solid;border-width: 1px; padding:12px 0;}
.szk .item .row:hover{border: 1px #dddddd solid;background-color: #f7f7f7;cursor: pointer;border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;}
.szk .item span.jpTeacher{  width:30px; height: 30px;background: url(../img/jpIcon.gif) left center no-repeat; margin-right:10px; display:inline-block;}
.szk .item span.gold, .szk .item span.price { height:30px;  line-height:30px; display:inline-block; vertical-align:top;}
.szk .item .row .row { background-color:transparent; border:none; padding:0; margin-bottom:0; }
.szk .item .row .row .col-xs-5 { padding-left:0;}
.szk .item .row .row .col-xs-5 p { line-height:24px;}
.szk .item .row .row .col-xs-7 { padding-left:0; padding-right:0; text-align:left;}
.szk .item .row .row p{ margin-bottom:2px;}
.szk .item .row .row span.star{vertical-align:middle;}

/*************** 联系方式 ******************/
.contact { margin-top:20px;}
.process { width:920px; margin:20px auto; overflow:hidden; height:120px;}
.contact .process { background:url(../img/process.png) left top no-repeat;}
/*
.contact .process ul li { width:230px; height:120px; float:left;}
.contact .process ul li.step1, .contact .process ul li.step2, .contact .process ul li.step3, .contact .process ul li.step4 {width:230px; height:120px;}
.contact .process ul li.step1 { background:url(../img/process.png) left top no-repeat;}
.contact .process ul li.step2 { background:url(../img/process.png) -230px top no-repeat;}
.contact .process ul li.step3 { background:url(../img/process.png) -460px top no-repeat;}
.contact .process ul li.step4 { background:url(../img/process.png) -690px top no-repeat;}
*/
.context .col-md-8 .panel-default { padding:20px 50px;}
.btn-red { color: #fff;background-color: #ff4400; border-color: #ff4400; letter-spacing:5px; }
.btn-red:hover { color: #fff; background-color: #ff2200; border-color: #ff2200; }
.context strong { font-size:16px;}
.context .row .row { border:1px #ddd solid; margin:10px 0;}
.context .row .row img { border:4px #eeeff0 solid;}
.context .row .row .col-sm-2 { padding-left:0;}
.context .row .row .col-sm-10 { padding-left:0; padding-right:0;}
.context .row .row p{ height:30px; line-height:30px; margin:10px 0 0;}
.context span.jpTeacher{  width:30px; height: 30px;background: url(../img/jpIcon.gif) left center no-repeat; vertical-align:middle; margin-right:5px; display:inline-block;}
.context span.gold { height:30px;  line-height:30px; display:inline-block;}
.context .row .col-sm-10 span.f60 { font-weight:600;}
.context p { margin-bottom:10px;}
.context p.f5f5f5 { line-height:30px; padding:6px; background:#f5f5f5; }
.formText { padding:20px;}
.context .btn-form {color: #fff; letter-spacing:2px; background-color:#1095db;border-color: #1095db;}
.context h4 { font-size:16px; padding:6px 20px; line-height:30px; background-color:#f5f5f5; border-bottom:1px #ddd solid;}
.context .col-md-4 p{ padding:10px 20px; line-height:26px; }
.context .col-md-4 p span.f60 { font-weight:600;  display:block;}
.context .col-md-8 span.ff9745{ padding:0 5px;}
/********************* 向老师约课 **********************/
.promise { margin-top:20px;}
.promise .process { background:url(../img/process.png) left -120px no-repeat;}
/********************* 约课成功 **********************/
.success { margin-top:20px;}
.success .process { background:url(../img/process.png) left -240px no-repeat;}
.context .prompt { font-size:14px; padding-top:30px; height:34px; line-height:34px; background:url(../img/ok.png) 20px bottom no-repeat; padding-left:65px;-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;}
.context .info { width:420px; margin:50px auto; padding:30px 0; line-height:35px; border:1px #ddd solid; background-color:#f7f7f7; text-align:center; font-size:14px; }

/************* 个性化课程  *************/
.perBanner { width:100%; margin:0 auto; height:407px; background:url(../img/banner3.png) no-repeat;}
.personalized { margin-top:20px;}
.per01 { width:987px; height:284px; margin:20px auto; background:url(../img/per01.png) no-repeat; position:relative;}
.per02, .per03, .per05 { width:980px; margin:0 auto;} 
.per02 { height:360px; background:url(../img/per02.png) no-repeat;}
.per03 { height:364px; background:url(../img/per03.png) no-repeat;}
.per05 { padding-top:80px; background:url(../img/per04.png) left top no-repeat;}
.per01 .btnBox { width:180px; position:absolute; top:40px; right:40px;}
.per01 .btnBox .btn-primary { background-color: #008cd7; border-color: #008cd7; margin-bottom:20px; }
.per04 h3 { padding:10px 0 10px 10px; color:#fff; padding-left:10px;background-color:#ffc0b9;}
.per04 .perItem {  background-color:#fff; border:10px #ffc0b9 solid; margin-bottom:20px;}
.per04 .perItem img { float:left;}
.per04 .perItem .detail { margin-left:110px;}
.per04 .perItem .detail h4 { font-size:16px; display:block; overflow:hidden; margin-bottom:15px; height:20px; line-height:20px;}
.per04 .perItem .detail p{ color:#999999; margin-bottom:10px; vertical-align:middle;}
.per04 .perItem .col-md-4 { padding-top:10px; padding-bottom:10px;}
.per04 .perItem .detail p span.star {vertical-align: middle;}
.per04 .perItem .detail .btn-primary { background-color:#ff4400; border-color:#ff4400;}
.per05 p { font-size:14px; line-height:36px; text-indent:30px;}
.per05 .btn-primary { background-color:#51c288; border-color:#51c288; margin-top:20px; }
.per05 .col-md-10 p {line-height: 24px; text-indent:2px; font-size:12px;}

/************* 组团 *****************/
.ztBg { background:url(../img/ztBg.png) repeat; padding:20px 0;}
.ztBanner { width:1020px; height:440px; background:url(../img/ztBanner.png) no-repeat; margin:20px auto;}
.ztSumbit { margin:70px 30px 0;}
.ztSumbit .form-group .col-sm-2 { padding-left:0; padding-right:0; }
.ztSumbit .form-group .btn-form { background-color:#ed9821; border-color:#ed9821; color:#fff; } 
.ztSumbit .form-group input, .ztSumbit .form-group select, .ztSumbit .form-group textarea { background-color:#f7f3e1;}

.ztGroup { padding:80px 19px 20px; margin-bottom:20px; background:url(../img/ztTitle.png) left top no-repeat #fff;}
.ztGroup h4 { height:36px; border-bottom:4px #33adcc solid;}
.ztGroup .nav-tabs { background-color:#eeeeee; height:54px; border-bottom:none;}
.ztGroup .nav-tabs>li { height:54px; line-height:54px; margin-bottom:0; overflow:hidden;}
.ztGroup .nav-tabs>li>a { line-height:54px; padding:0 20px;font-size:16px; margin:0;border-radius:0; border:none;}
.ztGroup .nav-tabs>li.active>a, .ztGroup .nav-tabs>li.active>a:hover, .ztGroup .nav-tabs>li.active>a:focus { background-color:#33adcc; border:none;border-radius:0; color:#fff; }
.ztGroup .nav-tabs>li>a:hover { border:none;}
.ztGroup .nav-pills{ position:relative; left:0; height: 32px; line-height: 32px; font-size: 14px;}
.ztGroup .nav-pills li{float: left;display: block;cursor: pointer;padding: 0 15px;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;border:none;}
.ztGroup .nav-pills li.active{background: #1190d2;color: #fff;}
.ztGroup .nav-pills li a{ color:#333;}
.ztGroup .nav-pills li.active a{ color:#fff;}
.ztGroup .row { padding:10px 0;}
.ztGroup .col-xs-10 h5,.ztGroup .col-xs-8 h5, .ztGroup p { padding-bottom:10px;}
.ztGroup .col-xs-2, .ztGroup .col-xs-4 { padding-right:0;}
.ztGroup .col-xs-2 p, .ztGroup .col-xs-4 p{ text-align:center; padding-top:10px;}
.ztGroup .col-xs-10 h5 a ,.ztGroup .col-xs-8 h5 a { color:#017ab9; padding-right:10px;}
.ztGroup .btn-primary { background-color:#ff4400; border-color:#ff4400; padding:5px 20px;}

/*********** 开通会员 **************/
.center-words{ text-align:center;}
.bold{ font-weight:bold;}
.pd-lr-5{ padding:0 5px;}
.md-infoOne, .md-infoTwo{ width:70%; margin:0 auto; text-align:left;}
.md-infoTwo{ margin-top:20px;}
.wid-50{ width:60%; margin:0 auto 20px;}
.pd-left{ padding-left:80px;}
.pd-right{ padding-right:80px;}
.mt-15{ margin-bottom:15px;}
.effective-dateBox{
    border:1px dashed #ddd;
    width:80%;
    padding:10px 20px;
    text-align:left;
    margin:15px auto 0;
    line-height:30px;
}
.kthybut_modal_tyvip, .kthybut_modal_ty{ font-size:14px; line-height:20px; vertical-align:middle; text-align:center; margin:0; width:100%;}
.alert-info-change{ font-size:14px; background:0 none; border:0 none; text-align:center;}


/************** 校长注册 ******************/
.gohome { padding-bottom:15px; font-size:16px;}
.zxwrap { border-bottom:1px #ddd solid; margin-bottom:30px; padding-bottom:20px;}
.zx01 { width:482px; height:367px; margin:0 auto; }
.zx02 { width:980px; height:307px;}
.zx03 { width:980px; height:365px;}
.zx04 { width:980px; height:353px;}
.zxwrap .row, .agency .row { margin-top:20px;}
.zxwrap .contactway { padding:20px; font-size:14px; line-height:36px;}
.zxwrap .row .col-md-6, .zxwrap .row .col-md-1 { padding:0;}
.zxwrap .row .row .col-sm-2 { padding-left:0; padding-right:0; padding-top:8px; text-align:right; font-size:16px;}
.zxwrap .row .row .btn-primary { background-color:#1095db; border-color:#1095db;}
.agency .row .col-md-2 { padding-bottom:15px;}
.agency .row .col-md-2 img { width:100%; height:auto;}

/*注册*/
.headbg{ background-color:#cedae7; border-bottom:1px #ddd solid;}
.regText { width:560px; margin:30px auto; position:relative;}
.regText .regaside { position:absolute; right:-26px; height:130px; width:26px; letter-spacing:2px; padding-top:6px; top:60px; text-align:center; background:url(../img/regaside.png) no-repeat;}
.regText .regaside a { color:#fff;}
.regText h5 { line-height:32px; padding-bottom:10px; }
.regText h5 a { color:#017ab9; padding-right:20px; background:url(../img/regarrow.png) right center no-repeat;}
.regBox { padding:20px 30px;background: #FFF;position: relative;border: 1px #ddd solid;border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;box-shadow: 0 1px 1px rgb(229,230,231);-moz-box-shadow: 0 1px 1px rgb(229,230,231);-webkit-box-shadow: 0 1px 1px rgb(229,230,231); }
.regBox .nav-tabs>li { font-size:18px;}
.regBox .nav-tabs>li.active>a { color:#55aad9;}
.regBox form { padding:20px 15px; }
.regBox label { font-size:14px;}
.regBox .note { color:#999; padding-left:10px;}
.regBox .certificate { color:#999;}

/*************页面底部*************/
.site-footer{margin-top: 20px;border-top: 1px solid #d1d1d1;width:100%;min-width:1020px;background:#dedfe0;}
.site-footer .row-3-1{padding:20px 0;border-bottom:1px #cacbcc solid;}
.site-footer .row-3-1 .col-md-8{ border-right:1px #cacbcc solid;} 
.site-footer .row-3-2{padding:15px 30px;border-top:1px #eeeff0 solid;}
.site-footer .row-3-2 a{ padding:0 12px;}
.site-footer .col-md-8 .col-md-4{ margin-top:15px;}
.col-md-4 .col-md-6{ padding:4px 0 4px 10px;background: url(../img/arrow2.gif) left center no-repeat;}
.site-footer h4{font-weight:600;font-size:14px;line-height:32px;}
.site-footer .col-md-8 .col-md-4:nth-child(3){border-right:none;}
.site-footer .row-3-3{padding:15px 0;margin:0;text-align:center;background-color:#cacbcc;line-height:30px;}
.site-footer strong{color:#333;}
.footer-consult{ padding:80px 9px 27px 28px; border-left:1px #eeeff0 solid;  background:url(../img/foottel.png) 19px 20px no-repeat;}

/*页面右侧导航*/
/*.rightNav{ position:fixed; z-index:999; width:100px; left:50%; top:50%; margin-top:120px; margin-left:540px;}*/
/*.rightNav .list-group { margin-bottom:0;}*/
/*.rightNav .list-group-item{ margin-bottom:10px; height:35px; line-height:35px; overflow:hidden; border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px; background-color:#d2d3d4; color:#fff; font-size:14px;-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box; padding:0; border:none; }*/
/*.rightNav .list-group-item a { display:block; text-decoration:none; border:none; overflow:hidden; outline: none;}*/
/*.rightNav .list-group-item a span { height:35px; width:35px; line-height:35px; text-align:center; top:0;  background-color:#c5c6c7; display:inline-block;}*/
/*.rightNav .list-group-item a:hover { display:block; background-color:#5094dd; color:#fff;}*/
/*.rightNav .list-group-item a:hover span { background-color:#4b8cd1; }*/
/*.navup, .navdown{ width:100px; height:35px; cursor:pointer;}*/
/*.navup{ background:url(../img/navarrow.png) left top no-repeat; }*/
/*.navdown{background:url(../img/navarrow.png) left -35px no-repeat;}*/

/*模态框*/
#myModal .modal-dialog .modal-body { padding:25px 72px;}


/*********** 开通会员 **************/
.openBg { background:url(../img/openBg.png) repeat-x #bbecfa; padding-bottom:30px;}
.openBanner { width:100%; height:450px; background:url(../img/openBanner.png) no-repeat; margin:0 auto; position:relative;}
.openVideo { position:absolute; right:64px; top:91px; width:428px; height:266px; overflow:hidden;}
.openmember { background-color:#fff; width:980px; padding:20px; border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;box-shadow: 0 1px 1px rgb(229,230,231);-moz-box-shadow: 0 1px 1px rgb(229,230,231);-webkit-box-shadow: 0 1px 1px rgb(229,230,231);}
.openTitle { height:36px; padding:15px 10px; position:relative; background-color:#d1ecff;-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;}
.openTitle h2 { font-weight:600; color:#0b89cb;}
.openTitle .btn-primary { position:absolute; background-color:#0b89cb; border-color:#0b89cb; right:10px; top:15px; font-size:16px;}
.openmember .table {width:940px; margin:20px auto; border:1px #8ebddd solid; }
.openmember .table tr th, .openmember .table tr td { text-align:center; vertical-align:middle;}
.openmember .table th {background: #0b89cb; font-size: 14px; color:#fff; font-weight: 600;line-height: 32px;}
.openmember .table .btn-primary { background-color:#ff6600; border-color:#ff6600;}
.openmember .table span.red { font-weight:600;}
.openmember .table-bordered>tbody>tr>td, .openmember .table-bordered>thead>tr>th {border:1px #8ebddd solid;}
.openmember .open01,.openmember .open02,.openmember .open03 { width:940px; margin:0 auto 20px;}
.openmember .open01 { height:140px; background:url(../img/open01.png) no-repeat;}
.openmember .open02 { height:220px; background:url(../img/open02.png) no-repeat;}
.openmember .open03 { height:380px; background:url(../img/open03.png) no-repeat;}
.openmember .dymsItem { margin-bottom:20px; overflow:hidden; padding:15px 0;}
.openmember .zbdy, .openmember .ydydy { width:490px; height:740px; position:relative;}
.openmember .row { padding-left:-8px; padding-right:-8px;}
.openmember .row .col-md-6 { padding-left:8px; padding-right:8px;}
.openmember .zbdy { background:url(../img/zbBg.png) no-repeat;  color:#333;}
.openmember .ydydy { background:url(../img/ydyBg.png) no-repeat; color:#333;}
.openmember .zbdy  .btn-primary, .openmember .ydydy  .btn-primary { position:absolute; bottom:45px; width:240px; left:125px; background-color:#ff4400; border-color:#ff4400;}
.openmember .zbdy .zbwords{ padding:30px; width:100%; margin:0 auto; line-height:24px;}
.openmember .zbdy table.kmtable, .openmember .zbdy table.kmtable td{ text-align:center; border:1px solid #78d2f8;}
.openmember .zbdy table.kmtable tr th{ background-color:#0B89CB; color:#fff;text-align:center;}
.openmember .zbdy table.kmtable tr th, .openmember .zbdy table.kmtable tr td{ font-weight:bold; height:36px; line-height:36px;}
.openmember .zbdy table.kmtable tr td{ color:#1675A1;}
.openmember .zbdy table.kmtable tr:first-clild{ color:#333;}
.openmember .zbdy table.kmtable caption{ font-weight:bold; font-size:14px;}
.openmember .zbdy table{ margin:10px 0 15px 0;}
.openmember .zbdy h5{ font-weight:bold;}
.openmember .ydydy .jddy h4{color: #fff; font-weight: bold; line-height: 30px; margin-left: 89px; padding-top: 320px; text-align: center;   width: 332px;}
.openmember .ydydy .jddy p{ margin:50px auto 0; line-height:30px; width:80%;}
.openmember .ydydy .jddy p strong{ font-size:14px;}
.btn-sm, .btn-group-sm > .btn{ padding:2px 10px;}

/* 名师滚动 */
.picScroll{ width:980px; height:152px;  overflow:hidden; position:relative;  }
.picScroll .hd{ overflow:hidden;  height:30px;   }
.picScroll .hd .prev,.picScroll .hd .next{ display:block;  width:41px; height:58px; position:absolute; top:28px; overflow:hidden; cursor:pointer;}
.picScroll .hd .prev{ background:url(../img/memarrow.png) left top no-repeat; left:0; }
.picScroll .hd .next{  background:url(../img/memarrow.png) left -58px no-repeat; right:0;  }
.picScroll .bd{  width:870px; position:absolute; left:50px; top:10px;}
.picScroll .bd ul{ overflow:hidden; zoom:1; }
.picScroll .bd ul li{ margin:0 7px; float:left; _display:inline; display:inline; overflow:hidden; text-align:center;  }
.picScroll .bd ul li .pic{ text-align:center; }
.picScroll .bd ul li .pic img{ height:90px; }
.picScroll .bd ul li .pic a:hover img{ border-color:#999;  }
.picScroll .bd ul li .info{ padding-top:8px;}

/* 约课--注册 */

#course-apply-register-form .form-inline input.captcha {
    width: 60%;
    text-transform: uppercase
}

#course-apply-register-form img.img-captcha {
    cursor: pointer;
    margin-left: 3px;
}

#course-apply-register-form .i-re, #course-apply-register-form .i-ok {
    background: url(../img/icon.png) no-repeat;
}

#course-apply-register-form .i-re {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-position: 0 -800px;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 2px;
}

#course-apply-register-form .i-ok {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-position: 0 -600px;
    vertical-align: middle;
    margin-left: 2px;
}